<!-- <mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field> -->

<!-- Button trigger modal -->
<button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Elegir Columnas <mat-icon>settings</mat-icon>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ficha Ceramica</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <h3>Datos Ubicación</h3>

        <mat-button-toggle-group [multiple]="true" #group="matButtonToggleGroup" appearance="legacy" vertical ="true">
          <mat-button-toggle value="cod_mon">
            <span>Cod Monumento</span>
          </mat-button-toggle>

          <mat-button-toggle value="num_artefacto">
            <span>Num Artefacto</span>
          </mat-button-toggle>

          <mat-button-toggle value="num_caja">
            <span>Num Caja DPPC</span>
          </mat-button-toggle>

          <mat-button-toggle value="proyecto">
            <span>Proyecto</span>
          </mat-button-toggle>

          <mat-button-toggle value="investigador">
            <span>Investigador</span>
          </mat-button-toggle>

          <mat-button-toggle value="pro_year">
            <span>Año Proyecto</span>
          </mat-button-toggle>

          <mat-button-toggle value="etiqueta">
            <span>Etiqueta</span>
          </mat-button-toggle>

          <mat-button-toggle value="fecha_exc">
            <span>Fecha Excavación</span>
          </mat-button-toggle> 
          
    
        <h3>Asociación Contextual</h3>
        
          <mat-button-toggle value="contexto">
            <span>Contexto</span>
          </mat-button-toggle>

          <mat-button-toggle value="ubicacion">
            <span>Ubicacion</span>
          </mat-button-toggle>

          <mat-button-toggle value="foto">
            <span>Fotografía</span>
          </mat-button-toggle>

          <mat-button-toggle value="plano">
            <span>Plano</span>
          </mat-button-toggle>

          <mat-button-toggle value="diagnostico_contexto">
            <span>Diagnostico</span>
          </mat-button-toggle>

          <mat-button-toggle value="fechamiento">
            <span>Fechamiento</span>
          </mat-button-toggle>

          <h3>Descripción Artefacto</h3>

          <mat-button-toggle value="tipo_pieza">
            <span>Tipo de Pieza</span>
          </mat-button-toggle>

          <mat-button-toggle value="desc_narrativa">
            <span>Descripción Narrativa</span>
          </mat-button-toggle>

          <mat-button-toggle value="acabado_superficie">
            <span>Acabado Superficie</span>
          </mat-button-toggle>

          <mat-button-toggle value="estilo_decorativo">
            <span>Estilo Decorativo</span>
          </mat-button-toggle>

          <mat-button-toggle value="color_pintura">
            <span>Color Pintura</span>
          </mat-button-toggle>

          <h3>Asociación Funcional, Tipológica, Regional y Temporal</h3>

          <mat-button-toggle value="forma_funcion">
            <span>Forma Función</span>
          </mat-button-toggle>

          <mat-button-toggle value="marcas_uso">
            <span>Marcas de Uso</span>
          </mat-button-toggle>

          <mat-button-toggle value="desc_marcas_uso">
            <span>Descripción Mrcas Uso</span>
          </mat-button-toggle>

          <mat-button-toggle value="tipo_ceramico_grupo">
            <span>Grupo/Tipo Cerámico</span>
          </mat-button-toggle>

          <mat-button-toggle value="ceramico_refz">
            <span>Referencias Bibliográficas Cerámica</span>
          </mat-button-toggle>

          <mat-button-toggle value="periodo_ceramica">
            <span>Período Cerámico</span>
          </mat-button-toggle>

          <mat-button-toggle value="fase_ceramica">
            <span>Fase Cerámico</span>
          </mat-button-toggle>

          <mat-button-toggle value="temporalidad_ceramica">
            <span>Temporalidad Cerámico</span>
          </mat-button-toggle>
          
          <mat-button-toggle value="procedencia_ceramica">
            <span>Procedencia Cerámico</span>
          </mat-button-toggle>

          <h3>Estado Conservación</h3>

          <mat-button-toggle value="potencial">
            <span>Potencial Exhibición</span>
          </mat-button-toggle>

          <mat-button-toggle value="potencial_exp">
            <span>Explicación Potencial</span>
          </mat-button-toggle>

          <h3>Investigador y Registro</h3>

          <mat-button-toggle value="fecha_analisis">
            <span>Fecha Análisis</span>
          </mat-button-toggle>

          <mat-button-toggle value="fotos_num">
            <span>Numeración Fotos</span>
          </mat-button-toggle>

        </mat-button-toggle-group>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- <mat-button-toggle-group [multiple]="true" #group="matButtonToggleGroup" type MatButtonToggleAppearance = 'legacy'>
  <mat-button-toggle value="cod_mon">
    <span>Cod Monumento</span>
  </mat-button-toggle>
    <mat-button-toggle value="num_artefacto">
    <span>Num Artefacto</span>
  </mat-button-toggle>
  <mat-button-toggle value="proyecto">
    <span>Proyecto</span>
  </mat-button-toggle>
  <mat-button-toggle value="pro_year">
    <span>Año Proyecto</span>
  </mat-button-toggle>
</mat-button-toggle-group> -->
<!-- <div *ngIf="toppings.value =='cod_mon'"> Data is valid. </div>  -->


  
  <mat-table *ngIf="group.value && group.value.length" [dataSource]="dataSource" class="mat-elevation-z8">

    
    <ng-container matColumnDef="cod_mon">
      <mat-header-cell *matHeaderCellDef> Cod Monumento |</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cod_mon}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="num_artefacto">
      <th mat-header-cell *matHeaderCellDef> Num Artefacto | </th>
      <td mat-cell *matCellDef="let element"> {{element.num_artefacto}} </td>
    </ng-container>

    <ng-container matColumnDef="num_caja">
      <th mat-header-cell *matHeaderCellDef> Num Caja DPPC | </th>
      <td mat-cell *matCellDef="let element"> {{element.num_caja}} </td>
    </ng-container>
  
    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef> Proyecto | </th>
      <td mat-cell *matCellDef="let element"> {{element.proyecto}} </td>
    </ng-container>

    <ng-container matColumnDef="investigador">
      <th mat-header-cell *matHeaderCellDef> Investigador | </th>
      <td mat-cell *matCellDef="let element"> {{element.investigador}} </td>
    </ng-container>

    <ng-container matColumnDef="pro_year">
      <th mat-header-cell *matHeaderCellDef> Año Proyecto | </th>
      <td mat-cell *matCellDef="let element"> {{element.pro_year}} </td>
    </ng-container>

    <ng-container matColumnDef="etiqueta">
      <th mat-header-cell *matHeaderCellDef> Etiqueta | </th>
      <td mat-cell *matCellDef="let element"> {{element.etiqueta}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_exc">
      <th mat-header-cell *matHeaderCellDef> Fecha Excavación | </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_exc}} </td>
    </ng-container>

    <ng-container matColumnDef="contexto">
      <th mat-header-cell *matHeaderCellDef> Contexto | </th>
      <td mat-cell *matCellDef="let element"> {{element.contexto}} </td>
    </ng-container>

    <ng-container matColumnDef="ubicacion">
      <th mat-header-cell *matHeaderCellDef> Ubicación |</th>
      <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
    </ng-container>

    <ng-container matColumnDef="foto">
      <th mat-header-cell *matHeaderCellDef> Fotografía |</th>
      <td mat-cell *matCellDef="let element"> {{element.foto}} </td>
    </ng-container>

    <ng-container matColumnDef="plano">
      <th mat-header-cell *matHeaderCellDef> Plano |</th>
      <td mat-cell *matCellDef="let element"> {{element.plano}} </td>
    </ng-container>

    <ng-container matColumnDef="diagnostico_contexto">
      <th mat-header-cell *matHeaderCellDef> Diagnostico Contexto |</th>
      <td mat-cell *matCellDef="let element"> {{element.diagnostico_contexto}} </td>
    </ng-container>

    <ng-container matColumnDef="fechamiento">
      <th mat-header-cell *matHeaderCellDef> Fechamiento |</th>
      <td mat-cell *matCellDef="let element"> {{element.fechamiento}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo_pieza">
      <th mat-header-cell *matHeaderCellDef> Tipo de Pieza |</th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_pieza}} </td>
    </ng-container>

    <ng-container matColumnDef="desc_narrativa">
      <th mat-header-cell *matHeaderCellDef> Descripción |</th>
      <td mat-cell *matCellDef="let element"> {{element.desc_narrativa}} </td>
    </ng-container>

    <ng-container matColumnDef="acabado_superficie">
      <th mat-header-cell *matHeaderCellDef> Acabado Superficie |</th>
      <td mat-cell *matCellDef="let element"> {{element.acabado_superficie}} </td>
    </ng-container>

    <ng-container matColumnDef="estilo_decorativo">
      <th mat-header-cell *matHeaderCellDef> Estilo Decorativo |</th>
      <td mat-cell *matCellDef="let element"> {{element.estilo_decorativo}} </td>
    </ng-container>

    <ng-container matColumnDef="color_pintura">
      <th mat-header-cell *matHeaderCellDef> Color Pintura |</th>
      <td mat-cell *matCellDef="let element"> {{element.color_pintura}} </td>
    </ng-container>

    <ng-container matColumnDef="forma_funcion">
      <th mat-header-cell *matHeaderCellDef> Forma/Función |</th>
      <td mat-cell *matCellDef="let element"> {{element.forma_funcion}} </td>
    </ng-container>

    <ng-container matColumnDef="marcas_uso">
      <th mat-header-cell *matHeaderCellDef> Marcas de uso |</th>
      <td mat-cell *matCellDef="let element"> {{element.marcas_uso}} </td>
    </ng-container>

    <ng-container matColumnDef="desc_marcas_uso">
      <th mat-header-cell *matHeaderCellDef> Descripción marcas de uso |</th>
      <td mat-cell *matCellDef="let element"> {{element.desc_marcas_uso}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo_ceramico_grupo">
      <th mat-header-cell *matHeaderCellDef> Tipo/Grupo Cerámico |</th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_ceramico_grupo}} </td>
    </ng-container>

    <ng-container matColumnDef="ceramico_refz">
      <th mat-header-cell *matHeaderCellDef> Referencias Ceramico |</th>
      <td mat-cell *matCellDef="let element"> {{element.ceramico_refz}} </td>
    </ng-container>

    <ng-container matColumnDef="periodo_ceramica">
      <th mat-header-cell *matHeaderCellDef> Período Cerámica |</th>
      <td mat-cell *matCellDef="let element"> {{element.periodo_ceramica}} </td>
    </ng-container>

    <ng-container matColumnDef="fase_ceramica">
      <th mat-header-cell *matHeaderCellDef> Fase Cerámica |</th>
      <td mat-cell *matCellDef="let element"> {{element.fase_ceramica}} </td>
    </ng-container>

    <ng-container matColumnDef="temporalidad_ceramica">
      <th mat-header-cell *matHeaderCellDef> Temporalidad Cerámica |</th>
      <td mat-cell *matCellDef="let element"> {{element.temporalidad_ceramica}} </td>
    </ng-container>

    <ng-container matColumnDef="procedencia_ceramica">
      <th mat-header-cell *matHeaderCellDef> Procedencia Cerámica |</th>
      <td mat-cell *matCellDef="let element"> {{element.procedencia_ceramica}} </td>
    </ng-container>

    <ng-container matColumnDef="potencial">
      <th mat-header-cell *matHeaderCellDef> Potencial Exhibición |</th>
      <td mat-cell *matCellDef="let element"> {{element.potencial}} </td>
    </ng-container>

    <ng-container matColumnDef="potencial_exp">
      <th mat-header-cell *matHeaderCellDef> Explicación Potencial |</th>
      <td mat-cell *matCellDef="let element"> {{element.potencial_exp}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_analisis">
      <th mat-header-cell *matHeaderCellDef> Fecha Análisis |</th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_analisis}} </td>
    </ng-container>

    <ng-container matColumnDef="fotos_num">
      <th mat-header-cell *matHeaderCellDef> Numeración Fotos |</th>
      <td mat-cell *matCellDef="let element"> {{element.fotos_num}} </td>
    </ng-container>

  <!--   <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr> -->
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos para ese filtro "{{input.value}}"</td>
    </tr>

    <mat-header-row *matHeaderRowDef="group.value"></mat-header-row>
    <mat-row *matRowDef="let row; columns: group.value;"></mat-row>

  </mat-table>

  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ejem. Troyo" #input>
  </mat-form-field>

  <mat-paginator [pageSizeOptions]="[3, 10, 20]"
  showFirstLastButtons 
  aria-label="Seleccione Páginas">
</mat-paginator>


  <h3>Exportar a Excel</h3>
  <div class ="container">
      <button mat-raised-button color="primary" (click)="exportAsXLSX()">Todo
          <mat-icon>trending_down</mat-icon>
      </button>
     &nbsp; 
      <button mat-raised-button color="accent" (click)="exportAsXLSXFiltered()">Filtrado
        <mat-icon>find_in_page</mat-icon>
      </button>
  </div>
