<mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
  
    <!-- Position Column -->
    <ng-container matColumnDef="cod_mon">
      <th mat-header-cell *matHeaderCellDef> Cod Monumento |</th>
      <td mat-cell *matCellDef="let element"> {{element.cod_mon}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="num_artefacto">
      <th mat-header-cell *matHeaderCellDef> Num Artefacto | </th>
      <td mat-cell *matCellDef="let element"> {{element.num_artefacto}} </td>
    </ng-container>
  
    
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef> Proyecto | </th>
      <td mat-cell *matCellDef="let element"> {{element.proyecto}} </td>
    </ng-container>

    

    <ng-container matColumnDef="pro_year">
      <th mat-header-cell *matHeaderCellDef> Año Proyecto | </th>
      <td mat-cell *matCellDef="let element"> {{element.pro_year}} </td>
    </ng-container>

    <ng-container matColumnDef="etiqueta">
      <th mat-header-cell *matHeaderCellDef> Etiqueta | </th>
      <td mat-cell *matCellDef="let element"> {{element.etiqueta}} </td>
    </ng-container>

    
   

    <ng-container matColumnDef="contexto">
      <th mat-header-cell *matHeaderCellDef> Contexto | </th>
      <td mat-cell *matCellDef="let element"> {{element.contexto}} </td>
    </ng-container>

    <ng-container matColumnDef="ubicacion">
      <th mat-header-cell *matHeaderCellDef> Ubicación |</th>
      <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
    </ng-container>

    <ng-container matColumnDef="investigador">
      <th mat-header-cell *matHeaderCellDef> Investigador | </th>
      <td mat-cell *matCellDef="let element"> {{element.investigador}} </td>
    </ng-container>

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos para ese filtro "{{input.value}}"</td>
    </tr>

   

    
  </table>

  <mat-paginator [pageSizeOptions]="[3, 10, 20]"
  showFirstLastButtons 
  aria-label="Seleccione Páginas">
</mat-paginator>


  <h3>Exportar a Excel</h3>
  <div class ="container">
      <button mat-raised-button color="primary" (click)="exportAsXLSX()">Todo
          <mat-icon>trending_down</mat-icon>
      </button>
     &nbsp; 
      <button mat-raised-button color="accent" (click)="exportAsXLSXFiltered()">Filtrado
        <mat-icon>find_in_page</mat-icon>
      </button>
  </div>
