<a [routerLink]="['/pagina/editar',ceramic._id]" class="btn btn-outline-success">Editar</a> 
<a (click)="delete(ceramic._id)" class = "btn btn-danger">Borrar</a>

   <button class="btn btn-success btn-block" (click)="exportPdf()">Reporte Completo</button>
   <button class="btn btn-success btn-block"><a [routerLink]="['/reporte-publico/ceramic', ceramic._id]">Público</a></button>



<div id="htmlData">

<div fxLayout="row">

    <div fxLayout="row" fxFlexAlign="stretch">
    
        <mat-card class = "rest-card"> 

        <mat-card-subtitle>Datos Ubicación</mat-card-subtitle>

            <mat-card-content>
            <div>          
                <p><b>Cod Monumento:</b> {{ceramic.cod_mon}} <b>Num Artefacto:</b> {{ceramic.num_artefacto}} <b>Num Caja:</b>{{ceramic.num_caja}}</p>
                <p><b>Proyecto:</b> {{ceramic.proyecto}} </p>
                <p><b>Investigador:</b> {{ceramic.investigador}} <b>Año Proyecto:</b> {{ceramic.pro_year}}</p>
                <p><b>Datos Etiqueta:</b> {{ceramic.etiqueta}} </p>
                <p><b>Fecha Excavación:</b>  {{ceramic.fecha_exc | date:'dd/MM/yyyy'}}</p>
            </div>
            </mat-card-content>
        </mat-card>
  

        <mat-card class = "rest-card">

        <mat-card-subtitle>Asociación Contextual</mat-card-subtitle>

            <mat-card-content>
            <div>  
                <p><b>Id Contexto:</b> {{ceramic.id_contexto}} <b>Contexto:</b> {{ceramic.contexto}} <b>Ubicación Relativa:</b> {{ceramic.ubicacion}}</p>
                <p><b>Fotografia:</b> {{ceramic.foto}} <b>N° Foto:</b>{{ceramic.num_foto}} <b>Calidad Foto:</b> {{ceramic.calidad_foto}}</p>
                <p><b>Estado Foto:</b> {{ceramic.estado_foto}} <b>Planimetría:</b>  {{ceramic.plano}} <b>N° Lámina:</b> {{ceramic.num_lamina}}</p>
                <p><b>Calidad Plano:</b> {{ceramic.calidad_lamina}} <b>Estado Plano:</b> {{ceramic.estado_Lamina}}</p>
                <p><b>Diagnóstico:</b> {{ceramic.diagnostico_contexto}} <b>Fechamiento:</b>  {{ceramic.fechamiento}}</p>
            </div>
        </mat-card-content>

        </mat-card>


    <mat-card class = "rest-card">

       
        <mat-card-subtitle>Asociación Funcional, Tipológica, Regional y Temporal</mat-card-subtitle>
            <mat-card-content>
            <div>
              
                <p><b>Forma-Función:</b> {{ceramic.forma_funcion}}</p>
                <p><b>Marcas uso:</b> {{ceramic.marcas_uso}} <b>Descripción</b>  {{ceramic.desc_marcas_uso}}</p>
                <p><b>Tipo Cerámico:</b> Grupo {{ceramic.tipo_ceramico_grupo}} | Referencias {{ceramic.ceramico_refz}}</p>
                <p> Período {{ceramic.periodo_ceramica}} | Fase {{ceramic.fase_ceramica}} | Temporalidad {{ceramic.temporalidad_ceramica}}</p>
                <p>Procedencia {{ceramic.procedencia_ceramica}}</p>
            </div>
            </mat-card-content>
        </mat-card>
</div>
</div>


<div fxLayout="row">

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
    
        <mat-card class = "descrip-card"> 
    
            <mat-card-subtitle>Descripción Objeto</mat-card-subtitle>
    
                <mat-card-content>

            <div align="left">
              
                <p><b>Tipo Pieza:</b> {{ceramic.tipo_pieza}}</p>
                <p><b>Descripción:</b> {{ceramic.desc_narrativa}}</p>
                <p><b>Apendices:</b> {{ceramic.apendices}} | Descripción: {{ceramic.desc_apendice}}</p>
                <p><b>Acabado:</b> {{ceramic.acabado_superficie}} | Pintura: {{ceramic.estilo_decorativo}} | Color: {{ceramic.color_pintura}} </p>
                <p><b>Incisos:</b> Pre Cocción {{ceramic.pre_coc}} | Post Cocción {{ceramic.post_coc}} | Esgrafiados {{ceramic.esgraf}} | Punteado: {{ceramic.ptdo}}</p>
                <p><b>Pastillajes:</b> Tira Aplicada {{ceramic.tira_apl}} | Pastilla {{ceramic.ptll}} | Pintura {{ceramic.zna}} | Ranurado {{ceramic.rndo}} | Acanalado {{ceramic.acnlo}} | Hendidos {{ceramic.hddo}} | Punteado  {{ceramic.ptll}} | Moldeadas {{ceramic.mdl}}</p>  
                <p><b>Dis No Figurativo:</b> Vertical {{ceramic.vertical}} | Horizontal {{ceramic.horizontal}} | Zig-Zag {{ceramic.zig_zag}} | Panel {{ceramic.panel}} | Aislados {{ceramic.aisld}} | Saturación {{ceramic.str}} | Otro {{ceramic.otro_nofig}}</p>             
                <p><b>DisFigurativo Zoomorfo:</b> Cabeza {{ceramic.head}} | Saurio {{ceramic.suario}} | Felino {{ceramic.felino}} | Batracio {{ceramic.batracio}} | Ave {{ceramic.ave}} | Mono {{ceramic.primate}} | Murcielago {{ceramic.murcielago}} | Mamífero {{ceramic.mamifero}} | Tortuga {{ceramic.turtle}} | Reptil {{ceramic.reptil}} | Pez {{ceramic.pez}} | No determinado {{ceramic.indt}}</p>
                <p><b>Taxonomía Explícita:</b> {{ceramic.txn_expl}}</p>
                <p><b>Investigador que Identificó:</b> {{ceramic.investigador_zoo}}</p>
                <p><b>DisFigurativo Antromorfo:</b> Cabeza {{ceramic.cabeza_nofig}} | Cara {{ceramic.sau_nofig}} | Hocico {{ceramic.cabhoc}} | Sedente {{ceramic.batracio}} | Ergida {{ceramic.erguida_nofig}} | Escena {{ceramic.reptil}}</p>
                <p><b>DisFigurativo Indeterminado:</b> Cabeza {{ceramic.cabfigint}} | Cara {{ceramic.cabhoc}} | Garra {{ceramic.garra}} | Otro {{ceramic.otfigind}}</p>
            </div>
            </mat-card-content>
        </mat-card>

        

    </div>

</div>

<!-- Otra Línea -->

<div fxLayout="row">

    <div fxLayout="row" fxLayoutAlign="space-between center" >

        <mat-card class = "rest-card">

            <mat-card-subtitle>Estado Conservación</mat-card-subtitle>
    
                <mat-card-content>
            <div>      
                <p><b>Estado Conservación:</b> {{ceramic.estado_conservacion}} <b> Potencial Exhibición:</b> {{ceramic.potencial}}</p>
                <p><b>Explicación:</b> {{ceramic.potencial_exp}}</p>
                <p><b>Dimensiones Vitrina:</b> Largo {{ceramic.largo}} | Ancho: {{ceramic.ancho}}| Alto: {{ceramic.alto}} | Peso: {{ceramic.peso}}</p>
            </div>
            </mat-card-content>
        </mat-card>

        <mat-card class = "rest-card">

            <mat-card-subtitle>Investigador y Registro</mat-card-subtitle>
    
                <mat-card-content>
            <div>
                <p><b>Nombre:</b> {{ceramic.nombre_invest}}</p>
                <p><b>Fecha Análisis:</b> {{ceramic.fecha_analisis}}</p>
                <p><b>Numeración de Fotos:</b> {{ceramic.fotos_num}}</p>
            </div>
            </mat-card-content>
        </mat-card>

        
        <mat-card class = "rest-card">

            <mat-card-title>MNCR, Depto DAH</mat-card-title>
            <mat-card-subtitle>Ficha Cerámica, Reporte Completo</mat-card-subtitle>
    
            
    
            <mat-card-content>

            <div class="image-thumb">
                    
                <img src="{{url + 'get-image/' + ceramic.image}}" alt="{{ceramic.title}}" *ngIf="ceramic.image"/>
                <img src="assets/images/default.png" alt="{{ceramic.title}}" *ngIf="!ceramic.image"/>
        
            </div>

            </mat-card-content>
        </mat-card>    


    </div>

</div>