

<div class= "center">
    <section id="content">
        
        <article class="article-item article-detail" *ngIf="ceramic">
            <!-- <div class="image-wrap">
                <img src="{{url + 'get-image/' + ceramic.image}}" alt="{{ceramic.title}}" *ngIf="ceramic.image"/>
                <img src="assets/images/default.png" alt="{{ceramic.title}}" *ngIf="!ceramic.image"/>
            </div> -->
            
            <div id="htmlData">
                <h1 class="subheader">Ficha Registro Cerámica, Cód Monumento : {{ceramic.cod_mon}}</h1>
                <span class="date">
                   Digitado : {{ceramic.date | amLocale: 'es' | amTimeAgo }}
                </span>

                <div class="image-thumb">
                        
                    <img src="{{url + 'get-image/' + ceramic.image}}" alt="{{ceramic.title}}" *ngIf="ceramic.image"/>
                    <img src="assets/images/default.png" alt="{{ceramic.title}}" *ngIf="!ceramic.image"/>
               
                </div>

                <div class="image-thumb">
                        
                    
                    <img src="assets/images/Bicentenario.png">
               
                </div>
                
                
                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Cod Monumento</th>
                      <th scope="col">Num Artefacto</th>
                      <th scope="col">Num Caja</th>
                      <th scope="col">Proyecto</th>
                      <th scope="col">Investigador</th>
                      <th scope="col">Año Proyecto</th>
                      <th scope="col">Datos Etiqueta</th>
                      <th scope="col">Fecha Excavación</th>
                    </tr>
                    </thead>
                    <tbody>
                      <td> {{ceramic.cod_mon}} </td>
                      <td> {{ceramic.num_artefacto}} </td>
                      <td> {{ceramic.num_caja}} </td>
                      <td> {{ceramic.proyecto}} </td>
                      <td> {{ceramic.investigador}} </td>
                      <td> {{ceramic.pro_year}} </td>
                      <td> {{ceramic.etiqueta}} </td>
                      <td> {{ceramic.fecha_exc | date: 'mediumDate'}} </td>
                     
                    </tbody>
                  </table>

                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Id Contexto</th>
                      <th scope="col">Contexto</th>
                      <th scope="col">Ubicación Relativa</th>
                      <th scope="col">Fotografia</th>
                      <th scope="col">N° Foto</th>
                      <th scope="col">Calidad</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Planimetría</th>
                      
                    </tr>
                    </thead>
                    <tbody>
                      <td> {{ceramic.id_contexto}} </td>
                      <td> {{ceramic.contexto}} </td>
                      <td> {{ceramic.ubicacion}} </td>
                      <td> {{ceramic.foto}} </td>
                      <td> {{ceramic.num_foto}} </td>
                      <td> {{ceramic.calidad_foto}} </td>
                      <td> {{ceramic.estado_foto}} </td>
                      <td> {{ceramic.plano}} </td>       
                    </tbody>
                  </table>
                    
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">N° Lámina</th>
                            <th scope="col">Calidad</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Diagnóstico Contexto</th>
                            <th scope="col">Fechamiento</th>
                            <th scope="col">Tipo Pieza</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Apd No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> {{ceramic.num_lamina}} </td>
                        <td> {{ceramic.calidad_lamina}} </td>
                        <td> {{ceramic.estado_Lamina}} </td>
                        <td> {{ceramic.diagnostico_contexto}} </td>
                        <td> {{ceramic.fechamiento}} </td>
                        <td> {{ceramic.tipo_pieza}} </td>
                        <td> {{ceramic.desc_narrativa}} </td>
                        <td> {{ceramic.apendices}} </td>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Apd Soportes</th>
                            <th scope="col">Apd Pedestal</th>
                            <th scope="col">Apn Asa</th>
                            <th scope="col">Apn Vertedero</th>
                            <th scope="col">Apn Otro</th>
                            <th scope="col">Descripción Apéndice</th>
                            <th scope="col">Acabado Superficie</th>
                            <th scope="col">Pintura</th>
                            <th scope="col">Color Pintura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> {{ceramic.soporte}} </td>
                        <td> {{ceramic.ped_base}} </td>
                        <td> {{ceramic.asa}} </td>
                        <td> {{ceramic.vtdero}} </td>
                        <td> {{ceramic.otro_soporte}} </td>
                        <td> {{ceramic.desc_apendice}} </td>
                        <td> {{ceramic.acabado_superficie}} </td>
                        <td> {{ceramic.estilo_decorativo}} </td>
                        <td> {{ceramic.color_pintura}} </td>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Incisos :Pre Cocción</th>
                            <th scope="col">Incisos :Post Cocción</th>
                            <th scope="col">Incisos :Esgrafiados</th>
                            <th scope="col">Incisos :Punteado</th>
                            <th scope="col">Pastillajes :Tira Aplicada</th>
                            <th scope="col">Pastillajes :Pastilla</th>
                            <th scope="col">Pastillajes :Pint sobre superficie</th>
                            <th scope="col">Pastillajes :Ranurado</th>
                            <th scope="col">Pastillajes :Acanalado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> {{ceramic.pre_coc}} </td>
                        <td> {{ceramic.post_coc}} </td>
                        <td> {{ceramic.esgraf}} </td>
                        <td> {{ceramic.ptdo}} </td>
                        <td> {{ceramic.tira_apl}} </td>
                        <td> {{ceramic.ptll}} </td>
                        <td> {{ceramic.zna}} </td>
                        <td> {{ceramic.rndo}} </td>
                        <td> {{ceramic.acnlo}} </td>
                    </tbody>
                </table>


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Pastillajes: Hendido</th>
                            <th scope="col">Pastillajes: Punteado</th>
                            <th scope="col">Pastillajes: Figuras Moldeadas</th>
                            <th scope="col">Dsñ No Figurativo: Vertical</th>
                            <th scope="col">Dsñ No Figurativo: Horizontal</th>
                            <th scope="col">Dsñ No Figurativo: Zig-Zag</th>
                            <th scope="col">Dsñ No Figurativo: Panel</th>
                            <th scope="col">Dsñ No Figurativo: Aislados</th>
                            <th scope="col">Dsñ No Figurativo: Saturación Completa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> {{ceramic.hddo}} </td>
                        <td> {{ceramic.ptdopt}} </td>
                        <td> {{ceramic.mdl}} </td>
                        <td> {{ceramic.vertical}} </td>
                        <td> {{ceramic.horizontal}} </td>
                        <td> {{ceramic.zig_zag}} </td>
                        <td> {{ceramic.panel}} </td>
                        <td> {{ceramic.aisld}} </td>
                        <td> {{ceramic.str}} </td>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Dsñ No Figurativo: Otro</th>
                            <th scope="col">Dsñ Fig Zoo: Cabeza</th>
                            <th scope="col">Dsñ Fig Zoo: Saurio</th>
                            <th scope="col">Dsñ Fig Zoo: Felino</th>
                            <th scope="col">Dsñ Fig Zoo: Batracio</th>
                            <th scope="col">Dsñ Fig Zoo: Ave</th>
                            <th scope="col">Dsñ Fig Zoo: Mono</th>
                            <th scope="col">Dsñ Fig Zoo: Murcielago</th>
                            <th scope="col">Dsñ Fig Zoo: Mamífero</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> {{ceramic.otro_nofig}} </td>
                        <td> {{ceramic.head}} </td>
                        <td> {{ceramic.suario}} </td>
                        <td> {{ceramic.felino}} </td>
                        <td> {{ceramic.batracio}} </td>
                        <td> {{ceramic.ave}} </td>
                        <td> {{ceramic.primate}} </td>
                        <td> {{ceramic.murcielago}} </td>
                        <td> {{ceramic.mamifero}} </td>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Dsñ Fig Zoo: Tortuga</th>
                            <th scope="col">Dsñ Fig Zoo: Reptil</th>
                            <th scope="col">Dsñ Fig Zoo: Pez</th>
                            <th scope="col">Dsñ Fig Zoo: No Det</th>
                            <th scope="col">Taxonomia Explicita</th>
                            <th scope="col">Investigador</th>
                            <th scope="col">Dsñ Fig Antro: Cabeza</th>
                            <th scope="col">Dsñ Fig Antro: Sedente</th>
                            <th scope="col">Dsñ Fig Antro: Erguida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> {{ceramic.turtle}} </td>
                        <td> {{ceramic.reptil}} </td>
                        <td> {{ceramic.pez}} </td>
                        <td> {{ceramic.indt}} </td>
                        <td> {{ceramic.txn_expl}} </td>
                        <td> {{ceramic.investigador_zoo}} </td>
                        <td> {{ceramic.cabeza_nofig}} </td>
                        <td> {{ceramic.sau_nofig}} </td>
                        <td> {{ceramic.erguida_nofig}} </td>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Dsñ Fig Antro: Escena</th>
                            <th scope="col">Dsñ Fig IND: Cabeza</th>
                            <th scope="col">Dsñ Fig IND: Cara</th>
                            <th scope="col">Dsñ Fig IND: Garra</th>
                            <th scope="col">Otra</th>
                            <th scope="col">Forma-Función</th>
                            <th scope="col">Marcas de Uso</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Tipo Ceramico Grupo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> {{ceramic.prim_nofig}} </td>
                        <td> {{ceramic.cabfigint}} </td>
                        <td> {{ceramic.cabhoc}} </td>
                        <td> {{ceramic.garra}} </td>
                        <td> {{ceramic.otfigind}} </td>
                        <td> {{ceramic.forma_funcion}} </td>
                        <td> {{ceramic.marcas_uso}} </td>
                        <td> {{ceramic.desc_marcas_uso}} </td>
                        <td> {{ceramic.tipo_ceramico_grupo}} </td>
                        
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Referencias Biblio</th>
                            <th scope="col">Periodo</th>
                            <th scope="col">Fase</th>
                            <th scope="col">Temporalidad Estimada</th>
                            <th scope="col">Procedencia</th>
                            <th scope="col">Estado Conservación</th>
                            <th scope="col">Potencial Exhibición</th>
                            <th scope="col">Explicación</th>
                            <th scope="col">Largo Vitrina</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> {{ceramic.ceramico_refz}} </td>
                        <td> {{ceramic.periodo_ceramica}} </td>
                        <td> {{ceramic.fase_ceramica}} </td>
                        <td> {{ceramic.temporalidad_ceramica}} </td>
                        <td> {{ceramic.procedencia_ceramica}} </td>
                        <td> {{ceramic.estado_conservacion}} </td>
                        <td> {{ceramic.potencial}} </td>
                        <td> {{ceramic.potencial_exp}} </td>
                        <td> {{ceramic.largo}} </td>
                    </tbody>
                </table>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ancho</th>
                            <th scope="col">alto</th>
                            <th scope="col">peso</th>
                            <th scope="col">Nombre Investigador</th>
                            <th scope="col">Fecha Analisis</th>
                            <th scope="col">Numeración Fotos</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <td> {{ceramic.ancho}} </td>
                        <td> {{ceramic.alto}} </td>
                        <td> {{ceramic.peso}} </td>
                        <td> {{ceramic.nombre_invest}} </td>
                        <td> {{ceramic.fecha_analisis}} </td>
                        <td> {{ceramic.fotos_num}} </td>
                       
                </table>
                  
            </div>

            <div class="clearfix"></div>
        </article>

         <a [routerLink]="['/pagina/editar',ceramic._id]" class="btn btn-outline-success">Editar</a> 
         <a (click)="delete(ceramic._id)" class = "btn btn-danger">Borrar</a>
         <!-- <button (click)= "openPDF()" class="btn btn-outline-success">
            <i class="material-icons">
               
            </i> <span>Open PDF</span></button> -->

            <button class="btn btn-success btn-block" (click)="exportPdf()">Reporte Completo</button>

            <button class="btn btn-success btn-block"><a [routerLink]="['/reporte-publico/ceramic', ceramic._id]">Público</a></button>

            <!-- <a [routerLink]="['/reporte-publico/ceramic', ceramic._id]">Público</a> -->
        
    </section>
   

    <!--  <app-sidebar 
     [titulo]="'ficha_ceramica'">
    </app-sidebar>> -->
</div>
