<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>Administrador</h3>
        
        <div *ngIf= "titulo === 'ceramica'"> 
            <!-- <a [routerLink]="['/ceramica']" class="btn btn-success">Agregar Ficha</a> -->
            <a [routerLink]="['/ceramica']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
              <mat-icon>add_shopping_cart</mat-icon>    
          </a> 
            <!-- <a [routerLink]="['/formulario']" class= "btn btn-info">Exportar Excel</a> -->
            <a [routerLink]="['/formulario']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
              <mat-icon>cloud_download</mat-icon>    
          </a>

         
     <div id="search" class="sidebar-item">
            <h3>Buscador</h3>
            <p>Investigador ó Tipo de Pieza</p>
            <form #searchForm="ngForm" (ngSubmit)= "goSearch()">
                <input type="text" name="search" [(ngModel)] ="searchString"/>
                  <button class="btn btn-outline-success" type="submit">
                    <mat-icon>search</mat-icon></button>
            </form>
      </div> 
       

          
        </div>
        <div *ngIf= "titulo === 'contexto'"> 
            <!-- <a [routerLink]="['/ficha-contexto']" class="btn btn-success">Agregar Ficha</a> -->
            <a [routerLink]="['/ficha-contexto']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
              <mat-icon>add_shopping_cart</mat-icon>    
          </a>
          <a [routerLink]="['/contexto-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
            <mat-icon>cloud_download</mat-icon>    
        </a>  

        <div id="search" class="sidebar-item">
          <h3>Buscador</h3>
          <p>Investigador ó Proyecto</p>
          <form #searchForm="ngForm" (ngSubmit)= "goSearchCont()">
              <input type="text" name="search" [(ngModel)] ="searchString"/>
                <button class="btn btn-outline-success" type="submit">
                  <mat-icon>search</mat-icon></button>
          </form>
        </div> 

        </div>

        <div *ngIf= "titulo === 'litico'"> 

          <a [routerLink]="['/ficha-litica']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
            <mat-icon>add_shopping_cart</mat-icon>    
        </a>
        <a [routerLink]="['/litica-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
          <mat-icon>cloud_download</mat-icon>    
      </a>  

      <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Investigador ó Proyecto</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchLit()">
            <input type="text" name="search" [(ngModel)] ="searchString"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
      </div> 
  
        </div>

        <div *ngIf= "titulo === 'metalico'"> 

          <a [routerLink]="['/ficha-metal']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
            <mat-icon>add_shopping_cart</mat-icon>    
        </a>
         <a [routerLink]="['/metal-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
          <mat-icon>cloud_download</mat-icon>    
      </a>   

      <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Investigador ó Proyecto</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchMet()">
            <input type="text" name="search" [(ngModel)] ="searchString"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
      </div> 
  
        </div>
        
    </div>

    

    <!-- <div id="search" class="sidebar-item">
            <h3>Buscador</h3>
            <p>Digite palabra(s) clave</p>
            <form #searchForm="ngForm" (ngSubmit)= "goSearch()">
                <input type="text" name="search" [(ngModel)] ="searchString"/>
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
    </div> -->
</aside>

<div class="clearfix"></div>


                