

<aside id="sidebar">

    <div id="nav-blog" class="sidebar-item">
        
        
        <div *ngIf= "titulo === 'ceramica'"> 
          <img src="assets/images/logoac.jpg" alt="User Icon" />
          <hr>
          <h3>Administrador</h3>
            <!-- <a [routerLink]="['/ceramica']" class="btn btn-success">Agregar Ficha</a> -->
            <a [routerLink]="['/ceramica']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
              <mat-icon>add_shopping_cart</mat-icon>    
          </a> 
            <!-- <a [routerLink]="['/formulario']" class= "btn btn-info">Exportar Excel</a> -->
            <a [routerLink]="['/formulario']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
              <mat-icon>cloud_download</mat-icon>    
          </a>

         
     <div id="search" class="sidebar-item">
            <h3>Buscador</h3>
            <p>Investigador,Tipo de Pieza,Núm Pieza ó Registrador</p>
            <form #searchForm="ngForm" (ngSubmit)= "goSearch()">
                <input type="text" name="search" [(ngModel)] ="searchString"/>
                  <button class="btn btn-outline-success" type="submit">
                    <mat-icon>search</mat-icon></button>
            </form>
      </div> 
       
    
        <h3>Buscador Combinado</h3>
        <p>Registrador y Núm de Pieza</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchComb()">
            <input type="text" name="search2" [(ngModel)] ="searchString2"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
 

          
        </div>
        <div *ngIf= "titulo === 'contexto'"> 
          <img src="assets/images/logoac.jpg" alt="User Icon" />
          <hr>
          <h3>Administrador</h3>
            <!-- <a [routerLink]="['/ficha-contexto']" class="btn btn-success">Agregar Ficha</a> -->
            <a [routerLink]="['/ficha-contexto']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
              <mat-icon>add_shopping_cart</mat-icon>    
          </a>
          <a [routerLink]="['/contexto-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
            <mat-icon>cloud_download</mat-icon>    
        </a>  

        <div id="search" class="sidebar-item">
          <h3>Buscador</h3>
          <p>Investigador ó Proyecto</p>
          <form #searchForm="ngForm" (ngSubmit)= "goSearchCont()">
              <input type="text" name="search" [(ngModel)] ="searchString"/>
                <button class="btn btn-outline-success" type="submit">
                  <mat-icon>search</mat-icon></button>
          </form>
        </div> 

        </div>

        <div *ngIf= "titulo === 'litico'"> 
          <img src="assets/images/logoac.jpg" alt="User Icon" />
          <hr>
          <h3>Administrador</h3>
          <a [routerLink]="['/ficha-litica']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
            <mat-icon>add_shopping_cart</mat-icon>    
        </a>
        <a [routerLink]="['/litica-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
          <mat-icon>cloud_download</mat-icon>    
      </a>  

      <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Investigador ó Proyecto</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchLit()">
            <input type="text" name="search" [(ngModel)] ="searchString"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
      </div> 

     
        <h3>Buscador Combinado</h3>
        <p>Registrador y Núm de Pieza</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchCombLit()">
            <input type="text" name="search3" [(ngModel)] ="searchString3"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
  
  
        </div>

        <div *ngIf= "titulo === 'metalico'"> 
          <img src="assets/images/logoac.jpg" alt="User Icon" />
          <hr>
          <h3>Administrador</h3>
          <a [routerLink]="['/ficha-metal']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
            <mat-icon>add_shopping_cart</mat-icon>    
        </a>
         <a [routerLink]="['/metal-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
          <mat-icon>cloud_download</mat-icon>    
      </a>   

      <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Investigador ó Proyecto</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchMet()">
            <input type="text" name="search" [(ngModel)] ="searchString"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
      </div> 

      <h3>Buscador Combinado</h3>
        <p>Registrador y Núm de Pieza</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchCombMet()">
            <input type="text" name="search3" [(ngModel)] ="searchString4"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
  
        </div>

        <div *ngIf= "titulo === 'sitio'"> 
          
          <h3 *ngIf="registrado == true" style="color:Tomato; font-weight: bold">Administrador</h3>
          <h3 *ngIf="administrador == true" style="font-weight: bold">Usuario Arqueólogo</h3>

        <div *ngIf="registrado == true">
          <a [routerLink]="['/perfiles']" data-toggle="tooltip" data-placement="top" title="Asignar Perfiles" class = "btn btn-primary">
            <mat-icon>supervisor_account</mat-icon>    
        </a>
        <a [routerLink]="['/sitio-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-secondary">
          <mat-icon>cloud_download</mat-icon>    
      </a>  
      <a [routerLink]="['/ficha-origenes']" data-toggle="tooltip" data-placement="top" title="Agregar Monumento" class = "btn btn-success">
        <mat-icon>map</mat-icon>    
    </a>
      </div>

      <div id="search">
              <hr>        
              <h3>Buscador Monumentos</h3>
              <div class="input-group input-group-sm mb3">
                  <select [(ngModel)]= "selectedProvincia.id" (change)="onSelect($event.target)">
                      <option value="0">--Seleccione Provincia--</option>
                      <option *ngFor="let provincia of provincias?.provincias" [value]="provincia.id">{{provincia.title}}</option>     
                  </select>
                  <button data-toggle="tooltip" data-placement="top" title="Busca por Provincia" (click)="goSearchP(selectedProvincia.id)" class="btn btn-outline-success">
                      <mat-icon>search</mat-icon>
                  </button> 
              </div>
              
               <div class="input-group input-group-sm mb3">
                  <select [(ngModel)]= "selectedCanton.id" (change)="onSelectCanton($event.target)">
                      <option value="0">---Seleccione Cantón----</option>
                      <option *ngFor="let canton of cantones" [value]="canton.id">{{canton.title}}</option>
                  </select>
                  <button data-toggle="tooltip" data-placement="top" title="Busca por Cantón" (click)="goSearchC(selectedCanton.id)" class="btn btn-outline-success">
                      <mat-icon>search</mat-icon>
                  </button> 
              </div>
              <br>
              <div class="input-group input-group-sm mb3">
              <form #searchForm="ngForm" (ngSubmit)= "goSearchNombre()">
                <input type="text" placeholder="Nombre o Clave" name="search" [(ngModel)] ="searchStringNomb"/>
            </form>
            <button data-toggle="tooltip" data-placement="top" (click)="goSearchNombre()" class="boton btn-outline-success">
              <mat-icon>search</mat-icon>
            </button>
          </div>
              <br> 
           
            <hr>
           <div *ngIf="administrador == true">
            <h3>Búsqueda en Mapa</h3>
            <a [routerLink]="['/map-ori']" data-toggle="tooltip" data-placement="top" title="Google Maps" class = "btn btn-outline-warning">
              <img src="assets/images/crlogo.png" width="100" height="100">    
          </a> 
          </div> 

          <div *ngIf="arqueo == true">
            <h3>Exportar Datos Excel</h3>
            <a [routerLink]="['/formulario']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
              <mat-icon>cloud_download</mat-icon>    
          </a>
            <h3>Búsqueda en Mapa</h3>
            <a [routerLink]="['/map-ori']" data-toggle="tooltip" data-placement="top" title="Google Maps" class = "btn btn-outline-warning">
              <img src="assets/images/crlogo.png" width="100" height="100">    
          </a> 
          
          </div>

          <div id="logosmall">
            <img src="assets/images/logoORI3.png" class="logosmall" alt="Logotipo" />
        </div>

        </div> 

      
      
    </div>
  </div>


</aside>

<div class="clearfix"></div>


                