
<button class="btn btn-success btn-block" (click)="exportPdf()">
    <mat-icon>print</mat-icon>
    PDF
</button>

<div id="htmlData" fxLayout="row" fxLayoutAlign="center start"> 

       

            <mat-card fxFlex ="90">

                <mat-card-title>MNCR, Depto DAH</mat-card-title>
                <mat-card-subtitle>Ficha Cerámica, Reporte Público</mat-card-subtitle>

                <div class="image-thumb">
                        
                    <img src="{{url + 'get-image/' + ceramic.image}}" alt="{{ceramic.title}}" *ngIf="ceramic.image"/>
                    <img src="assets/images/default.png" alt="{{ceramic.title}}" *ngIf="!ceramic.image"/>
               
                </div>

                <mat-card-content>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Cod Monumento</th>
                            <th scope="col">Contexto</th>
                        </tr>
                        </thead>
                        <tbody>
                            <td> {{ceramic.cod_mon}} </td>
                            <td> {{ceramic.contexto}} </td>
                        </tbody>
                    </table>

                    <div style="text-align:justify">
                        <h4><b>Descripción Narrativa</b></h4>
                        <p>{{ceramic.desc_narrativa}}</p>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Temporalidad Estimada</th>
                            <th scope="col">Procedencia</th>
                        </tr>
                        </thead>
                        <tbody>
                            <td> {{ceramic.temporalidad_ceramica}} </td>
                            <td> {{ceramic.procedencia_ceramica}} </td>
                        </tbody>
                    </table>
                    
                    
                    <div>
                        <h4><b>Dimensiones</b></h4>
                        <p>Ancho: {{ceramic.ancho}}, Alto: {{ceramic.ancho}}, Peso: {{ceramic.ancho}}</p>
                    
                    </div>
                    
                </mat-card-content>
            </mat-card>
       
       
     
</div>

