<app-header></app-header>
<a [routerLink]="['/pag-ori']" data-toggle="tooltip" data-placement="top" title="Regresar" class = "btn btn-outline-warning">
    <mat-icon>home</mat-icon>    
  </a> 
<div class="center">
    <p>Cantidad de Monumentos Encontrados : <b>{{sitios.length}}</b></p>
  
    <aside id="sidebar">
        <div id="search">
            
               <p> * Puede buscar en cada uno de los niveles de la División Política de Costa Rica</p>
               <p> * Además puede buscar por nombre ó clave de Monumento</p>
               <hr>
                
                <div class="input-group input-group-sm mb3">
                    
                    <select [(ngModel)]= "selectedProvincia.id" (change)="onSelect($event.target)">
                        <option value="0">--Seleccione Provincia</option>
                        <option *ngFor="let provincia of provincias?.provincias" [value]="provincia.id">{{provincia.title}}</option>
                        
                    </select>
                    <button data-toggle="tooltip" data-placement="top" title="Busca por Provincia" (click)="goSearch(selectedProvincia.id)" class="btn btn-outline-success">
                        <mat-icon>search</mat-icon>
                    </button> 
              </div>
            <br>
                <div class="input-group input-group-sm mb3">
                    <select [(ngModel)]= "selectedCanton.id" (change)="onSelectCanton($event.target)">
                        <option value="0">--Seleccione Cantón--</option>
                        <option *ngFor="let canton of cantones" [value]="canton.id">{{canton.title}}</option>
                    </select>
                    <button data-toggle="tooltip" data-placement="top" title="Busca por Cantón" (click)="goSearchCanton(selectedCanton.id)" class="btn btn-outline-success">
                        <mat-icon>search</mat-icon>
                    </button> 
                </div>
            <br>

                <div class="input-group input-group-sm mb3">
                    <select [(ngModel)]= "selectedDistrito.id">
                        <option value="0">--Seleccione Distrito--</option>
                        <option *ngFor="let distrito of distritos" [value]="distrito.id">{{distrito.title}}</option>
                    </select>
                    <button data-toggle="tooltip" data-placement="top" title="Busca por Distrito" (click)="goSearchDistrito(selectedDistrito.id)" class="btn btn-outline-success">
                        <mat-icon>search</mat-icon>
                    </button> 
                </div>
    </div>
<br>
<hr>


<div class="input-group input-group-sm mb3">
    <form #searchForm="ngForm" (ngSubmit)= "goSearchNombre()">
      <input type="text" placeholder="Nombre o Clave" name="search" [(ngModel)] ="searchNombre"/>
  </form>
  <button data-toggle="tooltip" data-placement="top" (click)="goSearchNombre()" class="boton btn-outline-success">
    <mat-icon>search</mat-icon>
  </button>
</div>
</aside>
    

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapTypeId">
        <agm-marker *ngFor="let sitio of sitios" [latitude]="sitio.latitude" [longitude]="sitio.longitude"
            [agmFitBounds]="true">
            
            <agm-info-window>
                <h3>Nombre:<b>{{sitio.nombre_sitio}}</b></h3>
                <p>Clave: {{sitio.clave_sitio}}</p>
                
                <p>Área Estimada: {{sitio.area_estimada}} mts</p>
                <!-- <img src="http://origenes.museocostarica.go.cr/sitios/{{sitio.image}}" alt="Image" width="300" height="250"> <br> -->
                <a [routerLink]="['/pag-ori/sitio', sitio._id]">Ficha Completa</a>
                <br>
                <!-- <a src="http://origenes.museocostarica.go.cr/mapas/Serp/index.html">Polígono</a> 
                 <a [href]= "'http://origenes.museocostarica.go.cr/mapas/' + sitio.clave_sitio + '/index.html'" target="_blank">Poligono</a> -->
                <br>
                <a [href]= "'http://origenes.museocostarica.go.cr/informes/' + sitio.clave_sitio + '/'" target="_blank">Informes</a>

            </agm-info-window>
        </agm-marker>
    </agm-map>
    
</div>
