<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="assets/images/logoMNCR.svg" class="app-logo" alt="Logotipo" />
        </div>
        
        <!-- MENU -->
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <!-- <a class="navbar-brand" href="#">Navbar</a> -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]= "['active']">Inicio</a>
                  </li>

                  <div *ngIf="logueado == true && aguacaliente == false">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Proyecto Agua Caliente
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="nav-link" [routerLink]="['/pagina']" [routerLinkActive]= "['active']">Cerámica</a></li>
                      <li><a class="nav-link" [routerLink]="['/peliculas']" [routerLinkActive]= "['active']">Contexto</a></li>
                      <li><a class="nav-link" [routerLink]="['/pag-lit']" [routerLinkActive]= "['active']">Litico</a></li>
                      <li><a class="nav-link" [routerLink]="['/pag-met']" [routerLinkActive]= "['active']">Metálicos</a></li>

                    </ul>
                  </li>
                </div>

                  <div *ngIf="logueado == false && aguacaliente == true">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/pag-ori']" [routerLinkActive]= "['active']">Origenes</a>
                  </li>  
                 </div>
                 
                  
                  </ul>

                  <ul class= "navbar-nav ml-auto">
                    <li class="nav-item">
                      
                      <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Logout</a>
                    </li>
                  </ul>
                 
                
              </div>
            </div>
          </nav>
       
 
        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>


