<div class="loading" *ngIf="!ceramics">
    Cargando....
</div>


<div class="loading" *ngIf="ceramics && ceramics.length == 0">
    No hay artefactos para mostrar
   
</div>

<div id="articles" *ngIf="ceramics">
    <article class= "article-item" *ngFor ="let ceramic of ceramics">
        <div class="image-wrap">
            <img src="{{url + 'get-image/' + ceramic.image}}" alt="{{ceramic.title}}" *ngIf="ceramic.image"/>
            <img src="assets/images/default.png" alt="{{ceramic.title}}" *ngIf="!ceramic.image"/>
        </div>

        <h3>Id : {{ceramic._id}}</h3>
        <p>Tipo Pieza : {{ceramic.tipo_pieza}}</p>
        <p>N° Artefacto : {{ceramic.num_artefacto}}</p>
        <span class="date">
            {{ceramic.date | amLocale: 'es' | amTimeAgo }}
        </span>
        <a [routerLink]="['/pagina/ceramic', ceramic._id]">Leer más</a>
        <div class="clearfix"></div>
    </article>
    
</div>
