<app-header></app-header>
<div class= "center">
    <section>
        <h1 class="subheader-sitio">Términos de Uso</h1>
        <!-- <div id="logoori">
            <img src="assets/images/logoORI3.png" class="logoori" alt="Logotipo" />
          </div> -->
        <p style="font-size:120%;" text-align="justify;"> El Departamento de Antropología e Historia del Museo Nacional de Costa Rica (DAH-MNCR),
            ha recopilado, clasificado y documentado un acervo de más de 120 años de información
            arqueológica que ahora presentamos en formato digital, la cual ha sido registrada
            por los investigadores del DAH-MNCR y por otras personas e instituciones.</p>
            <p style="font-size:120%;" text-align="justify;">La base de datos ORIGENES es propiedad del Museo Nacional de Costa Rica y se publica a través
            de este medio electrónico con el fin de colaborar en los esfuerzos de protección,
            conservación, conocimiento y valoración del Patrimonio Arqueológico Nacional.</p>
        <p style="font-size:120%;" text-align="justify;">
            El Museo Nacional de Costa Rica permite el acceso y reproducción de esta información
            exclusivamente para fines científicos, académicos y de gestión ambiental, a condición
            de que los usuarios respeten los derechos de autor de los datos e imágenes y bajo
            las siguientes condiciones:</p>
            <br>
        <hr>
        
            <p style="font-size:120%;" text-align="justify;">
                1. Los usuarios de la base ORIGENES que la utilicen como fuente para investigaciones,fines académicos, estudios de gestión ambiental o cualquier otro uso permitido, deberán respetar la integridad de la información y citar la fuente de la que se obtuvo, sean datos, imágenes, ilustraciones o cualquier otro producto extraído del sistema. Es ineludible el reconocimiento de los derechos de autor de la información y los créditos al Departamento de Antropología e Historia, mediante la indicación en letra legible lo siguiente, en letra tipo Arial 12: la base ORIGENES del Museo Nacional de Costa Rica, con indicación exacta de la dirección web de la que se descargó</p>
            <p style="font-size:120%;" text-align="justify;">
                2. Queda prohibido el uso de la base ORIGENES para el apoyo o sustento de acciones que atenten contra la protección y conservación del Patrimonio Nacional Arqueológico o cualquier acción ilícita.</p>
            <p style="font-size:120%;" text-align="justify;">
                3. La información de la base ORIGENES ha sido debidamente curada y tratada por investigadores especializados, sin embargo, su uso es responsabilidad directa del usuario y en ese sentido no compromete al Museo Nacional de Costa Rica en los temas de exactitud irrefutable de la misma y en el uso que se haga de los datos implícitos en ésta.</p>
            <p style="font-size:120%;" text-align="justify;">
                4. El usuario del sistema acepta la política de uso y condiciones antes indicadas. El Museo Nacional de Costa Rica advierte que quién no respete los términos de uso antes expuestos, asume la responsabilidad civil y penal según la normativa existente sobre la materia y podría ser denunciado o demandado ante las autoridades competentes.</p>
        

        <a [routerLink]="['/pag-ori']" data-toggle="tooltip" data-placement="top" title="Regresar" class = "btn btn-outline-primary">
            
            <mat-icon>home</mat-icon> 
        </a> 
        <a [routerLink]="['/registroOrigenes']" data-toggle="tooltip" data-placement="top" title="Solicitar Acceso" class = "btn btn-outline-secondary">
           
            <mat-icon>assignment</mat-icon> 
        </a>
       
        </section>
        
</div>
<div class="clearfix"></div> 