<app-header></app-header>
<div class= "center">
    <section id="content">
        <h1 class="subheader-ceramica">Artefactos Encontrados: {{ceramics.length}}</h1>

        <a [routerLink]="['/pagina']" data-toggle="tooltip" data-placement="top" title="Listado Anterior" class = "btn btn-outline-warning">
            <mat-icon>list</mat-icon>    
        </a>

        <app-ceramics [ceramics]= "ceramics">
            
        </app-ceramics>

         

    </section>
    <app-sidebar></app-sidebar>
</div>
