<app-header></app-header>
<button mat-stroked-button color="accent" routerLink="/pag-lite-sitios">
    <mat-icon>arrow_back</mat-icon>
    Volver a búsqueda
  </button>

  
<!--   <div fxLayout="row" fxLayoutAlign="center stretch">
        <mat-card fxFlex ="70" class = "descrip-card"> 
                
            <mat-card-title> Nombre Monumento : {{sitio.nombre_sitio}}</mat-card-title>
    
                <mat-card-content>
                    <div align="left">
                        <h2>Datos Generales</h2>
                        <br>
                        <p><b>Registrador:</b> {{sitio.registrador}}</p>
                        <p><b>Fecha Registro: </b> {{sitio.fecha_registro | date: "dd/MM/yyyy"}}</p> 
                        <p><b>Localización:</b> {{sitio.provincia}}, {{sitio.canton}}, {{sitio.distrito}}</p>
                        <p><b>Región: </b> {{sitio.region}}</p>     
                        <p><b>Hoja Cartográfica: </b> {{sitio.hoja_cartografica}}</p> 
                        <br>
                        
                    </div>
               </mat-card-content>
        </mat-card>

     
    </div> -->

    <mat-card class="detalle-sitio-card" style="padding: 20px; max-width: 800px; margin: auto;">

        <mat-card-header>
          <mat-card-title style="font-size: 24px;">
            <mat-icon>location_on</mat-icon> {{ sitio.nombre_sitio }}
          </mat-card-title>
          <mat-card-subtitle>Clave: {{ sitio.clave_sitio }}</mat-card-subtitle>
        </mat-card-header>
      
        <mat-card-content style="font-size: 16px;">
          <p><strong>Registrador:</strong> {{ sitio.registrador }}</p>
          <p><strong>Fecha Registro:</strong> {{sitio.fecha_registro | date: "dd/MM/yyyy"}} </p>
          <p><strong>Localización:</strong> {{sitio.provincia}}, {{sitio.canton}}, {{sitio.distrito}}</p>
          <p><strong>Región:</strong> {{ sitio.region }}</p>
          <p><strong>Hoja Cartográfica:</strong> {{ sitio.hoja_cartografica }}</p>
        </mat-card-content>
      
      </mat-card>


  
  
  
  
