
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="inactive underlineHover" [routerLink]="['/']"> Acceso </h2>
      <h2 class="active">Registro </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/images/logogestor2.png" alt="User Icon" />  
      </div>
  
      <!-- Login Form -->
      <form (submit)="signUp()">

        <input type="text" [(ngModel)]="user.email" class="form-control" name="email" placeholder="Email" required autofocus>
        <input type="password" [(ngModel)]="user.password" class="form-control" name="password" placeholder="Password" required>
        <input type="text" [(ngModel)]="user.nombre" class="form-control" name="nombre" placeholder="Nombre" required>
        <input type="submit" class="fadeIn fourth" value="Registro" title='El acceso a los datos de la base de datos de monumentos arqueológicos, ORÍGENES, ha sido modificado en acatamiento a la Resolución 2019005114 de la Sala Constitucional de la Corte Suprema de Justicia, en la que se le indica al Museo Nacional de Costa Rica que solamente personas debidamente acreditadas (profesionales en Arqueología) pueden tener acceso a la información sensible (ubicación geoespacial y características específicas) de los monumentos arqueológicos. Por tanto, el usuario general (no especializado) tendrá un acceso limitado a la información de los monumentos arqueológicos que a la fecha se han registrado en el país.'>
      </form>
    </div>
  </div>


  