

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="inactive underlineHover" [routerLink]="['/']"> Acceso </h2>
      <h2 class="active">Registro </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/images/registration.jpg" alt="User Icon" />
      
      </div>
  
      <!-- Login Form -->
      <form (submit)="signUp()">
        <input type="text" [(ngModel)]="user.email" class="form-control" name="email" placeholder="email" required autofocus>
        <input type="password" [(ngModel)]="user.password" class="form-control" name="password" placeholder="password" required>
       
        <input type="submit" class="fadeIn fourth" value="Registro">
      </form>
  
     
      
  
    </div>
  </div>