


<div class="center">
    <section id="content.contexto">

        <h1 class="subheader">FICHA DE ANÁLISIS DOCUMENTAL</h1>
        
        <form class="mid-form" #contextoForm="ngForm" (ngSubmit)="OnSubmit()">

          <div class="accordion accordion-flush" id="accordionFlushExample">         
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            General
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="id_cont">Id Contexto</label>
                                    <input type="text" class="form-control" name="id_cont" #cod_mon="ngModel"
                                        [(ngModel)]="contexto.id_cont">
                                </div>
                                <div class="col-md-3">
                                    <label for="year_inv">Año Investigación</label>
                                    <input type="number" class="form-control" name="year_inv" #num_artefacto="ngModel"
                                        [(ngModel)]="contexto.year_inv">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="proyecto">Proyecto</label>
                                    <input type="text" class="form-control" name="proyecto" #proyecto="ngModel"
                                        [(ngModel)]="contexto.proyecto">
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="investigador">Investigador</label>
                                    <input type="text" class="form-control" name="investigador" #investigador="ngModel"
                                        [(ngModel)]="contexto.investigador">
                                </div>
            
                            </div>
                        </div>
                    </div>
                </div>
         </div>

         <div class="accordion accordion-flush" id="accordionFlushExample2">         
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Información Contexto
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample2">
                    <div class="accordion-body">
                        <div class="row g-3">
                            <div class="col-md-3">
                                <label for="id_cont">Sector</label>
                                <input type="text" class="form-control" name="id_cont" #cod_mon="ngModel"
                                    [(ngModel)]="contexto.id_cont">
                            </div>
                            <div class="col-md-3">
                                <label for="year_inv">Ubicación</label>
                                <input type="number" class="form-control" name="year_inv" #num_artefacto="ngModel"
                                    [(ngModel)]="contexto.year_inv">
                            </div>
        
                            <div class="col-md-3">
                                <label for="proyecto">Operación</label>
                                <input type="text" class="form-control" name="proyecto" #proyecto="ngModel"
                                    [(ngModel)]="contexto.proyecto">
                            </div>
                            <div class="col-md-3">
                                <label for="investigador">SubOperación</label>
                                <input type="text" class="form-control" name="investigador" #investigador="ngModel"
                                    [(ngModel)]="contexto.investigador">
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="investigador">Descripción Operación</label>
                                <input type="text" class="form-control" name="investigador" #investigador="ngModel"
                                    [(ngModel)]="contexto.investigador">
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="investigador">Contexto</label>
                                <input type="text" class="form-control" name="investigador" #investigador="ngModel"
                                    [(ngModel)]="contexto.investigador">
                            </div>
                            <div class="col-md-6">
                                <label for="investigador">Diagnóstico Contexto</label>
                                <input type="text" class="form-control" name="investigador" #investigador="ngModel"
                                    [(ngModel)]="contexto.investigador">
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="investigador">Tipo Contexto Excavado</label>
                                <input type="text" class="form-control" name="investigador" #investigador="ngModel"
                                    [(ngModel)]="contexto.investigador">
                            </div>
                            <div class="col-md-6">
                                <label for="investigador">Otro</label>
                                <input type="text" class="form-control" name="investigador" #investigador="ngModel"
                                    [(ngModel)]="contexto.investigador">
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-3">

                                <label for="num_cem">Cementerio</label>
                                <br>
                               <ng-container>
                                   
                                    <input #chkcem [(ngModel)]="contexto.num_cem" type="checkbox" name="num_cem"  #num_cem/> 
                                    <input type="text" placeholder="Num :" [disabled]="!chkcem.checked" />  
                                </ng-container>
                            </div>
                            <div class="col-md-3">
                                <label for="num_cem">Basamento</label>
                                <br>
                                <ng-container>
                                    <input #chkbasa [(ngModel)]="contexto.num_basa" type="checkbox" name="num_basa"  #num_basa/>
                                     <input type="text" placeholder="Num :" [disabled]="!chkbasa.checked" />
                                 </ng-container>
                                
                            </div>
                            <div class="col-md-3">
                                <label for="num_plaza">Plaza o Patio</label>
                                <br>
                                <ng-container>
                                    <input #chkplaza [(ngModel)]="contexto.num_plaza" type="checkbox" name="num_plaza"  #num_plaza/>
                                     <input type="text" placeholder="Num :" [disabled]="!chkplaza.checked" />
                                 </ng-container>
                                
                            </div>
                            <div class="col-md-3">
                                <label for="num_estruc">Estructura</label>
                                <br>
                                <ng-container>
                                    <input #chkestruc [(ngModel)]="contexto.num_estruc" type="checkbox" name="num_estruc"  #num_estruc/>
                                     <input type="text" placeholder="Num :" [disabled]="!chkestruc.checked" />
                                 </ng-container>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
     </div>

             <div class="form-group">
                <div class="image-thumb" *ngIf="is_edit">
                    
                        <img src="{{url + 'get-image/' + contexto.image}}" alt="{{contexto.title}}" *ngIf="contexto.image"/>
                        <img src="assets/images/default.png" alt="{{contexto.title}}" *ngIf="!contexto.image"/>
                   
                </div>
                
                <angular-file-uploader
                    [config]="afuConfig"
                    (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
               
            </div>

            <input type="submit" value="Guardar" class="btn btn-success"/>

        </form>


        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        
            

    </section>

    <div class="clearfix"></div>

</div>
