
<app-header></app-header>

<div class="center">
    <section id="content.contexto">
        <h1 class="subheader-contexto">FICHA DE ANÁLISIS DOCUMENTAL</h1>
        
        <form class="mid-form" #contextoForm="ngForm" (ngSubmit)="OnSubmit()">

                <div class="accordion accordion-flush" id="accordionFlushExample">          
                    <div class="accordion-item">

                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                General
                            </button>
                        </h2>

                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row g-3">
                                    <div class="col-md-3">
                                        <label for="id_cont">Id Contexto</label>
                                        <input type="text" class="form-control" name="id_cont" #id_cont="ngModel"
                                            [(ngModel)]="contexto.id_cont">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="year_inv">Año Investigación</label>
                                        <input type="number" class="form-control" name="year_inv" #year_inv="ngModel"
                                            [(ngModel)]="contexto.year_inv">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="proyecto">Proyecto</label>
                                        <input type="text" class="form-control" name="proyecto" #proyecto="ngModel"
                                            [(ngModel)]="contexto.proyecto">
                                    </div>
                                </div>

                                <div class="row g-3">
                                        <div class="col-md-3">
                                            <label for="investigador">Investigador</label>
                                            <input type="text" class="form-control" name="investigador" #investigador="ngModel"
                                                [(ngModel)]="contexto.investigador">
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="accordion accordion-flush" id="accordionFlushExample">         
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Informacion Contextual
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row g-3">
                                    <div class="col-md-3">
                                        <label for="sector">Sector</label>
                                        <select class="form-select" name="sector" #sector="ngModel" [(ngModel)]="contexto.sector">
                                            <option selected>Seleccione...</option>
                                            <option value="Reserva">Reserva</option>
                                            <option value="PlaySkool">PlaySkool</option>
                                            <option value="Duarco">Duarco</option>
                                            <option value="Cocorí">Cocorí</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="ubicacion">Ubicación</label>
                                        <select class="form-select" name="ubicacion" #ubicacion="ngModel" [(ngModel)]="contexto.ubicacion">
                                            <option selected>Seleccione...</option>
                                            <option value="Norte">Norte</option>
                                            <option value="Sur">Sur</option>
                                            <option value="Este">Este</option>
                                            <option value="Oeste">Oeste</option>
                                            <option value="Central">Central</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="operacion">Operación</label>
                                            <input type="text" class="form-control" name="operacion" #operacion="ngModel"
                                                [(ngModel)]="contexto.operacion">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="suboperacion">Sub Operación</label>
                                            <input type="text" class="form-control" name="suboperacion" #suboperacion="ngModel"
                                                [(ngModel)]="contexto.suboperacion">
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="desc_operacion">Descripción de la Operación</label>
                                            <input type="text" class="form-control" name="desc_operacion" #desc_operacion="ngModel"
                                                [(ngModel)]="contexto.desc_operacion">
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-3">
                                        <label for="cont">Contexto</label>
                                        <input type="text" class="form-control" name="cont" #cont="ngModel"
                                                [(ngModel)]="contexto.cont">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="diagnostico_contexto">Diagnóstico del Contexto</label>
                                        <select class="form-select" name="diagnostico_contexto" #diagnostico_contexto="ngModel" [(ngModel)]="contexto.diagnostico_contexto">
                                            <option selected>Seleccione...</option>
                                            <option value="Definitivo">Definido</option>
                                            <option value="Indefinido">Indefinido</option>
                                            <option value="Indeterminado">Indeterminado</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="tipo_contexto">Tipo de Contexto Excavado</label>
                                        <select class="form-select" name="tipo_contexto" #tipo_contexto="ngModel" [(ngModel)]="contexto.tipo_contexto">
                                            <option selected>Seleccione...</option>
                                            <option value="Sepultura">Sepultura</option>
                                            <option value="Fogón u Hornilla">Fogón u Hornilla</option>
                                            <option value="Horno">Horno</option>
                                            <option value="Intrusivo">Intrusivo</option>
                                            <option value="Hoyo o molde de horcón">Hoyo o molde de horcón</option>
                                            <option value="Piso de arcilla">Piso de arcilla</option>
                                            <option value="Plataforma empedrada">Plataforma empedrada</option>
                                            <option value="Empedrado">Empedrado</option>
                                            <option value="Corredor de piedra">Corredor de piedra</option>
                                            <option value="Calzada">Calzada</option>
                                            <option value="Basamiento interior">Basamiento interior</option>
                                            <option value="Basamiento perimetral">Basamiento perimetral</option>
                                            <option value="Patio o plaza">Patio o plaza</option>
                                            <option value="Otra Estructura">Otra Estructura</option>
                                            <option value="Perímetro de piedra">Perímetro de piedra</option>
                                            <option value="Depósito o concentración ubicuo">Depósito o concentración ubicuo</option>
                                            <option value="Nivel cultural ubicuo">Nivel cultural ubicuo</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="otro_contexto">Conexión del contexto</label>
                                        <select class="form-select" name="otro_contexto" #otro_contexto="ngModel" [(ngModel)]="contexto.otro_contexto">
                                            <option selected>Seleccione...</option>
                                            <option value="Cementerio">Cementerio</option>
                                            <option value="Basamiento">Basamiento</option>
                                            <option value="Plaza o Patio">Plaza o Patio</option>
                                            <option value="Estructura">Estructura</option>
                                            <option value="Indeterminado">Indeterminado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">         
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Registro Gráfico
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="foto">Fotografia</label>
                                    <select class="form-select" name="foto" #foto="ngModel" [(ngModel)]="contexto.foto">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    
                                        <label for="num_foto">Num Foto</label>
                                        <input type="number" class="form-control" name="num_foto" #num_foto="ngModel"
                                            [(ngModel)]="contexto.num_foto">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="calidad_foto">Calidad</label>
                                    <select class="form-select" name="calidad_foto" #calidad_foto="ngModel"
                                        [(ngModel)]="contexto.calidad_foto">
                                        <option selected>Seleccione...</option>
                                        <option value="Buena">Buena</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Mala">Mala</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="estado_foto">Estado Foto</label>
                                    <select class="form-select" name="estado_foto" #estado_foto="ngModel"
                                        [(ngModel)]="contexto.estado_foto">
                                        <option selected>Seleccione...</option>
                                        <option value="Buena">Buena</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Mala">Mala</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row g-3">
                                <div class="col-md-3">
                                     <label for="plano">Planimetría</label>
                                <select class="form-select" name="plano" #plano="ngModel" [(ngModel)]="contexto.planimetria">
                                    <option selected>Seleccione...</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="num_lamina">Num Lamina</label>
                                    <input type="number" class="form-control" name="num_lamina" #num_lamina="ngModel"
                                        [(ngModel)]="contexto.num_lamina">
                                </div>
                                <div class="col-md-3">
                                    <label for="calidad_plano">Calidad Lámina</label>
                                    <select class="form-select" name="calidad_plano" #calidad_plano="ngModel"
                                        [(ngModel)]="contexto.calidad_plano">
                                        <option selected>Seleccione...</option>
                                        <option value="Buena">Buena</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Mala">Mala</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="estado_plano">Estado Lamina</label>
                                    <select class="form-select" name="estado_plano" #estado_plano="ngModel"
                                        [(ngModel)]="contexto.estado_plano">
                                        <option selected>Seleccione...</option>
                                        <option value="Buena">Buena</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Mala">Mala</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="accordion accordion-flush" id="accordionFlushExample">         
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Ubicación Espacial
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="coordenadas">Coordenadas Originales</label>
                                        <input type="text" class="form-control" name="coordenadas" #coordenadas="ngModel"
                                            [(ngModel)]="contexto.coordenadas">
                                </div>

                                <div class="col-md-3">
                                    
                                       <label for="crtm">CRTM05</label>
                                        <input type="text" class="form-control" name="crtm" #crtm="ngModel"
                                            [(ngModel)]="contexto.crtm">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="profundidad">Profundidad de Excavación (cm)</label>
                                    <input type="text" class="form-control" name="profundidad" #profundidad="ngModel"
                                        [(ngModel)]="contexto.profundidad">
                                </div>

                                <div class="col-md-3">
                                    <label for="profundidad_datum">Produndidad Bajo Datum (cm)</label>
                                    <input type="text" class="form-control" name="profundidad_datum" #profundidad_datum="ngModel"
                                        [(ngModel)]="contexto.profundidad_datum">
                                </div>
                            </div>

                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="ubicacion_datum">Ubicación del Datum</label>
                                        <input type="text" class="form-control" name="ubicacion_datum" #ubicacion_datum="ngModel"
                                            [(ngModel)]="contexto.ubicacion_datum">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="accordion accordion-flush" id="accordionFlushExample">         
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Información Antropoesquelética
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">

                                <div class="col-md-3">

                                <label for="existe_antro">Existe</label>
                                    <select class="form-select" name="existe_antro" #existe_antro="ngModel" [(ngModel)]="contexto.existe_antro">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>

                                </div>    

                                <div class="col-md-3">
                                    
                                    <label for="estado_antro">Estado</label>
                                    <select class="form-select" name="estado_antro" #estado_antro="ngModel"
                                        [(ngModel)]="contexto.estado_antro">
                                        <option selected>Seleccione...</option>
                                        <option value="Buena">Buena</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Mala">Mala</option>
                                    </select>
                                </div>
            
                                <div class="col-md-3">
                                    <label for="tipo_enterramiento">Tipo de Enterramiento</label>
                                    <select class="form-select" name="tipo_enterramiento" #tipo_enterramiento="ngModel"
                                        [(ngModel)]="contexto.tipo_enterramiento">
                                        <option selected>Seleccione...</option>
                                        <option value="Primario">Primario</option>
                                        <option value="Secundario">Secundario</option>
                                        <option value="No Determinado">No Determinado</option>
                                        <option value="Múltiple">Múltiple</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="forma_enterramiento">Forma de Enterramiento</label>
                                    <select class="form-select" name="forma_enterramiento" #forma_enterramiento="ngModel"
                                        [(ngModel)]="contexto.forma_enterramiento">
                                        <option selected>Seleccione...</option>
                                        <option value="EDD (Extendido Decúbito Dorsal)">EDD (Extendido Decúbito Dorsal)</option>
                                        <option value="EDV (Extendido Decúbito Ventral)">EDV (Extendido Decúbito Ventral)</option>
                                        <option value="EL (Extendido Lateral)">EL (Extendido Lateral)</option>
                                        <option value="E (Extendido)">E (Extendido)</option>
                                        <option value="SE (Semi-Extendido)">SE (Semi-Extendido)</option>
                                        <option value="F (Flexionado)">F (Flexionado)</option>
                                        <option value="MF (Muy Flexionado)">MF (Muy Flexionado)</option>
                                        <option value="S (Sentado)">S (Sentado)</option>
                                        <option value="P (Paquete)">P (Paquete)</option>
                                        <option value="I (Inarticulado)">I (Inarticulado)</option>
                                        <option value="O (Osario)">O (Osario)</option>
                                        <option value="C (Combinado)">C (Combinado)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="condicion">Condición</label>
                                    <select class="form-select" name="condicion" #condicion="ngModel"
                                        [(ngModel)]="contexto.condicion">
                                        <option selected>Seleccione...</option>
                                        <option value="Termoalteración">Termoalteración</option>
                                        <option value="Cremación">Cremación</option>
                                        <option value="Otra Alteración">Otra Alteración</option>
                                       
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="sexo">Sexo</label>
                                    <select class="form-select" name="sexo" #sexo="ngModel"
                                        [(ngModel)]="contexto.sexo">
                                        <option selected>Seleccione...</option>
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                        <option value="ND">ND</option>
                                       
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="edad">Edad</label>
                                   
                                        <input type="number" class="form-control" name="edad" #edad="ngModel"
                                            [(ngModel)]="contexto.edad">
                                </div>

                                <div class="col-md-3">
                                    <label for="patologias">Patologías</label>
                                   
                                        <input type="text" class="form-control" name="patologias" #patologias="ngModel"
                                            [(ngModel)]="contexto.patologias">
                                </div>

                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="evidencia">Evidencia de otras prácticas culturales</label>
                                    
                                            <input type="text" class="form-control" name="evidencia" #evidencia="ngModel"
                                                [(ngModel)]="contexto.evidencia">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="accordion accordion-flush" id="accordionFlushExample">         
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Fechamiento
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">

                                <div class="col-md-3">

                                <label for="fecha_existe">Existe</label>
                                    <select class="form-select" name="fecha_existe" #fecha_existe="ngModel" [(ngModel)]="contexto.fecha_existe">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>

                                </div>    

                                <div class="col-md-3">
                                    
                                    <label for="tecnica">Técnica</label>
                                   
                                        <input type="text" class="form-control" name="tecnica" #tecnica="ngModel"
                                            [(ngModel)]="contexto.tecnica">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="material_fechado">Material Fechado</label>
                                   
                                    <input type="text" class="form-control" name="material_fechado" #material_fechado="ngModel"
                                        [(ngModel)]="contexto.material_fechado">
                                </div>

                                <div class="col-md-3">
                                    <label for="asociacion_indv">Asociación directa a individuo</label>
                                   
                                    <input type="text" class="form-control" name="asociacion_indv" #asociacion_indv="ngModel"
                                        [(ngModel)]="contexto.asociacion_indv">
                                </div>
                            </div>

                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="asociacion_art">Asociación directa a artefacto</label>
                                   
                                        <input type="text" class="form-control" name="asociacion_art" #asociacion_art="ngModel"
                                            [(ngModel)]="contexto.asociacion_art">
                                </div>

                                <div class="col-md-3">
                                    <label for="num_lab">No Laboratorio</label>
                                   
                                        <input type="text" class="form-control" name="num_lab" #num_lab="ngModel"
                                            [(ngModel)]="contexto.num_lab">
                                </div>

                                <div class="col-md-3">
                                    <label for="fecha_conv">Fecha Convencional</label>
                                   
                                        <input type="text" class="form-control" name="fecha_conv" #fecha_conv="ngModel"
                                            [(ngModel)]="contexto.fecha_conv">
                                </div>

                                <div class="col-md-3">
                                    <label for="fecha_calb">Fecha Calibrada</label>
                                   
                                        <input type="text" class="form-control" name="fecha_calb" #fecha_calb="ngModel"
                                            [(ngModel)]="contexto.fecha_calb">
                                </div>

                                <div class="row g-3">

                                    <div class="col-md-3">
                                        <label for="valoracion_fecha">Valoración general de la fecha</label>
                                    <select class="form-select" name="valoracion_fecha" #valoracion_fecha="ngModel"
                                        [(ngModel)]="contexto.valoracion_fecha">
                                        <option selected>Seleccione...</option>
                                        <option value="Óptima">Óptima</option>
                                        <option value="Aceptable">Aceptable</option>
                                        <option value="Mínimamente aceptable">Mínimamente aceptable</option>
                                        <option value="Dudosa">Dudosa</option>
                                        <option value="Descartable">Descartable</option>
                                    </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="explique_fecha">Explique</label>
                                       
                                            <input type="text" class="form-control" name="explique_fecha" #explique_fecha="ngModel"
                                                [(ngModel)]="contexto.explique_fecha">
                                    </div> 

                                    <div class="col-md-3">
                                        <label for="otras_muestras">Otras muestras potencial para fechamiento</label>
                                    <select class="form-select" name="otras_muestras" #otras_muestras="ngModel"
                                        [(ngModel)]="contexto.otras_muestras">
                                        <option selected>Seleccione...</option>
                                        <option value="Carbón dentro de artefactos">Carbón dentro de artefactos</option>
                                        <option value="Cerámica diagnóstica">Cerámica diagnóstica</option>
                                        <option value="Carbón adherido a tiesto o vasija">Carbón adherido a tiesto o vasija</option>
                                        <option value="Restos óseos humanos o faunísticos">Restos óseos humanos o faunísticos</option>
                                        <option value="Madera">Madera</option>
                                        <option value="Concha">Concha</option>
                                        <option value="Semillas">Semillas</option>
                                    </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="estado_muestras">Estado de las muestras para fechamiento</label>
                                    <select class="form-select" name="estado_muestras" #estado_muestras="ngModel"
                                        [(ngModel)]="contexto.estado_muestras">
                                        <option selected>Seleccione...</option>
                                        <option value="Bueno">Bueno</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Malo">Malo</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="accordion accordion-flush" id="accordionFlushExample">         
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                            Artefactos
                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">

                                <div class="col-md-3">

                                <label for="cera_existe">Cerámica</label>
                                    <select class="form-select" name="cera_existe" #cera_existe="ngModel" [(ngModel)]="contexto.cera_existe">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>

                                </div>    

                                <div class="col-md-3">
                                    
                                    <label for="cera_cant">Cantidad</label>
                                   
                                        <input type="text" class="form-control" name="cera_cant" #cera_cant="ngModel"
                                            [(ngModel)]="contexto.cera_cant">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="id_artef_cera">Id Artefacto(s)</label>
                                   
                                    <input type="text" class="form-control" name="id_artef_cera" #id_artef_cera="ngModel"
                                        [(ngModel)]="contexto.id_artef_cera">
                                </div>

                                
                            </div>

                            <div class="row g-3">

                                <div class="col-md-3">

                                <label for="litica_existe">Lítica</label>
                                    <select class="form-select" name="litica_existe" #litica_existe="ngModel" [(ngModel)]="contexto.litica_existe">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>

                                </div>    

                                <div class="col-md-3">
                                    
                                    <label for="litica_cant">Cantidad</label>
                                   
                                        <input type="text" class="form-control" name="litica_cant" #litica_cant="ngModel"
                                            [(ngModel)]="contexto.litica_cant">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="id_litica">Id Artefacto(s)</label>
                                   
                                    <input type="text" class="form-control" name="id_litica" #id_litica="ngModel"
                                        [(ngModel)]="contexto.id_litica">
                                </div>

                                
                            </div>

                            <div class="row g-3">

                                <div class="col-md-3">

                                <label for="metal_existe">Metal</label>
                                    <select class="form-select" name="metal_existe" #metal_existe="ngModel" [(ngModel)]="contexto.metal_existe">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>

                                </div>    

                                <div class="col-md-3">
                                    
                                    <label for="metal_cantidad">Cantidad</label>
                                   
                                        <input type="text" class="form-control" name="metal_cantidad" #metal_cantidad="ngModel"
                                            [(ngModel)]="contexto.metal_cantidad">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="metal_id">Id Artefacto(s)</label>
                                   
                                    <input type="text" class="form-control" name="metal_id" #metal_id="ngModel"
                                        [(ngModel)]="contexto.metal_id">
                                </div>

                                
                            </div>
                            
                            <div class="row g-3">

                                <div class="col-md-3">

                                <label for="madera_existe">Madera</label>
                                    <select class="form-select" name="madera" #madera_existe="ngModel" [(ngModel)]="contexto.madera_existe">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>

                                </div>    

                                <div class="col-md-3">
                                    
                                    <label for="madera_cantidad">Cantidad</label>
                                   
                                        <input type="text" class="form-control" name="madera_cantidad" #madera_cantidad="ngModel"
                                            [(ngModel)]="contexto.madera_cantidad">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="madera_id">Id Artefacto(s)</label>
                                   
                                    <input type="text" class="form-control" name="madera_id" #madera_id="ngModel"
                                        [(ngModel)]="contexto.madera_id">
                                </div>

                                
                            </div>

                            <div class="row g-3">

                                <div class="col-md-3">

                                <label for="fauna_existe">Fauna</label>
                                    <select class="form-select" name="fauna" #fauna_existe="ngModel" [(ngModel)]="contexto.fauna_existe">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>

                                </div>    

                                <div class="col-md-3">
                                    
                                    <label for="fauna_cantidad">Cantidad</label>
                                   
                                        <input type="text" class="form-control" name="fauna_cantidad" #fauna_cantidad="ngModel"
                                            [(ngModel)]="contexto.fauna_cantidad">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="fauna_id">Id Artefacto(s)</label>
                                   
                                    <input type="text" class="form-control" name="fauna_id" #fauna_id="ngModel"
                                        [(ngModel)]="contexto.fauna_id">
                                </div>

                                
                            </div>

                            <div class="row g-3">

                                <div class="col-md-3">

                                <label for="otros_existe">Otros</label>
                                    <select class="form-select" name="otros" #otros_existe="ngModel" [(ngModel)]="contexto.otros_existe">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>

                                </div>    

                                <div class="col-md-3">
                                    
                                    <label for="otros_cantidad">Cantidad</label>
                                   
                                        <input type="text" class="form-control" name="otros_cantidad" #otros_cantidad="ngModel"
                                            [(ngModel)]="contexto.otros_cantidad">
                                </div>
            
                                <div class="col-md-3">
                                    <label for="otros_id">Id Artefacto(s)</label>
                                   
                                    <input type="text" class="form-control" name="otros_id" #otros_id="ngModel"
                                        [(ngModel)]="contexto.otros_id">
                                </div>

                                
                            </div>
                              
                            
                        </div>
                    </div>
                </div>
                </div>

                <div class="accordion accordion-flush" id="accordionFlushExample">         
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                            Verificación Localización en Campo
                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">

                                <div class="col-md-3">

                                <label for="verifica_si">Se realizó</label>
                                    <select class="form-select" name="verifica_si" #verifica_si="ngModel" [(ngModel)]="contexto.verifica_si">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>

                                </div>    

                                <div class="col-md-4">
                                    
                                    <label for="inves_verifica">Investigador</label>
                                   
                                        <input type="text" class="form-control" name="inves_verifica" #inves_verifica="ngModel"
                                            [(ngModel)]="contexto.inves_verifica">
                                </div>
            
                                <div class="col-md-4">
                                    <label for="fecha_verifica">Fecha</label>
                                   
                                    <input type="date" class="form-control" name="fecha_verifica" #fecha_verifica="ngModel"
                                        [(ngModel)]="contexto.fecha_verifica">
                                </div>

                            </div>
                            <div class="row g-3">

                                <div class="col-md-12">
                                    <label for="resultados_verifica">Resultados</label>
                                   
                                    <input type="text" class="form-control" name="resultados_verifica" #resultados_verifica="ngModel"
                                        [(ngModel)]="contexto.resultados_verifica">
                                </div>             
                            </div>

                        </div>
                    </div>
                </div>
                </div>

                <div class="accordion accordion-flush" id="accordionFlushExample">         
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                            Otros Datos
                        </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">

                                <div class="col-md-6">
                                    
                                    <label for="revisor_documental">Revisor Documental</label>
                                   
                                        <input type="text" class="form-control" name="revisor_documental" #revisor_documental="ngModel"
                                            [(ngModel)]="contexto.revisor_documental">
                                </div>
            
                                <div class="col-md-6">
                                    <label for="fecha_revision">Fecha Revisión</label>
                                   
                                    <input type="date" class="form-control" name="fecha_revision" #fecha_revision="ngModel"
                                        [(ngModel)]="contexto.fecha_revision">
                                </div>

                            </div>
                           

                        </div>
                    </div>
                </div>
                </div>

                <div class="form-group">
                    <div class="image-thumb" *ngIf="is_edit">
                        
                            <img src="{{url + 'get-image/' + contexto.image}}" alt="{{contexto.title}}" *ngIf="contexto.image"/>
                            <img src="assets/images/default.png" alt="{{contexto.title}}" *ngIf="!contexto.image"/>
                    
                    </div>
                    
                    <angular-file-uploader
                        [config]="afuConfig"
                        (ApiResponse)="imageUpload($event)">
                    </angular-file-uploader>
                
                </div>

                <input type="submit" value="Guardar" class="btn btn-success"/>

        </form>


            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        
    </section>

    <div class="clearfix"></div>

</div>
