<!-- <app-slider></app-slider> -->

    <!-- <div class="center">
    <section id="content">
        <h2 class= "subheader">{{title}}</h2> -->



         <!-- <app-ceramics [ceramics]="ceramics"></app-ceramics>  -->
        
    <!-- </section> -->
    <!-- <app-sidebar></app-sidebar>    -->
<!-- </div> -->


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="parallax">
<div style="color: #777;background-color:black;text-align:center;padding:50px 80px;text-align: justify;">
    <h2 style="text-align:center">Gestor Colecciones DAH, 2021</h2>
    <p style="text-align:center">Para consultas o reportes, comunicarse al correo <a href="mailto:jtapia@museocostarica.go.cr?Subject=Consultas%20Gestor">jtapia@museocostarica.go.cr</a> o al Telf 2257-1433</p>
    
</div>
</div>
</body>
</html>
