


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="parallax">
        <div style="color: #777;background-color:black;text-align:center;padding:50px 80px;text-align: justify;">
            <div class="jumbotron">
                <h1 class="display-4" style="text-align:center">Gestor Colecciones DAH, 2021</h1>
                <p class="lead" style="text-align:center">Para consultas o reportes, comunicarse al correo <a href="mailto:jtapia@museocostarica.go.cr?Subject=Consultas%20Gestor">jtapia@museocostarica.go.cr</a> o al Telf 2257-5712</p>
            </div>
        </div>
    </div>
</body>
</html>
