


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <app-header></app-header>
    <div class="parallax">
        <div style="color: #777;background-color:black;text-align:center;padding:50px 80px;text-align: justify;">
            <div class="jumbotron">
                <h1 class="display-4" style="text-align:center">Gestor Colecciones DAH, 2021</h1>
                <!-- <h2 class="display-3" style="text-align: center">Bienvenido : {{separado}}</h2> -->
                
            </div>
        </div>
    </div>
</body>
</html>
