<app-header></app-header>


<div class="center">
    <section id="content.contexto">
        <h1 class="subheader-metalico">FICHA METALICO</h1>
        
        <form class="mid-form" #contextoForm="ngForm" (ngSubmit)="OnSubmit()">

            <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Ubicacion del Artefacto
                        </button>
                    </h2>

                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <!-- <form> -->
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="cod_mon">Cod Monumento</label>
                                    <input type="text" class="form-control" name="cod_mon" #cod_mon="ngModel"
                                        [(ngModel)]="metalico.cod_mon">
                                </div>
                                <div class="col-md-3">
                                    <label for="num_artefacto">Num Artefacto</label>
                                    <input type="number" class="form-control" name="num_artefacto"
                                        #num_artefacto="ngModel" [(ngModel)]="metalico.num_artefacto">
                                </div>
                                <div class="col-md-3">
                                    <label for="num_caja">Num Caja DPPC</label>
                                    <input type="number" class="form-control" name="num_caja" #num_caja="ngModel"
                                        [(ngModel)]="metalico.num_caja">
                                </div>
                                <div class="col-md-3">
                                    <label for="proyecto">Proyecto</label>
                                    <input type="text" class="form-control" name="proyecto" #proyecto="ngModel"
                                        [(ngModel)]="metalico.proyecto">
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="investigador">Investigador</label>
                                    <input type="text" class="form-control" name="investigador" #investigador="ngModel"
                                        [(ngModel)]="metalico.investigador">
                                </div>
                                <div class="col-md-3">
                                    <label for="pro_year">Año Proyecto</label>
                                    <input type="number" class="form-control" name="pro_year" #pro_year="ngModel"
                                        [(ngModel)]="metalico.pro_year">
                                </div>
                                <div class="col-md-3">
                                    <label for="etiqueta">Datos Etiqueta</label>
                                    <input type="text" class="form-control" name="etiqueta" #etiqueta="ngModel"
                                        [(ngModel)]="metalico.etiqueta">
                                </div>
                                <div class="col-md-3">
                                    <label for="fecha_exc">Fecha Excavación</label>
                                    <input type="date" class="form-control" name="fecha_exc" #fecha_exc="ngModel"
                                        [(ngModel)]="metalico.fecha_exc">
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>

                    </div>
                </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Asociación Contextual
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
    
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="id_contexto">Id Contexto</label>
                                    <input type="text" class="form-control" name="id_contexto" #id_contexto="ngModel"
                                        [(ngModel)]="metalico.id_contexto">
                                </div>
                                <div class="col-md-3">
                                    <label for="contexto">Contexto</label>
                                    <input type="text" class="form-control" name="contexto" #contexto="ngModel"
                                        [(ngModel)]="metalico.contexto">
                                </div>
                                <div class="col-md-3">
                                    <label for="ubicacion">Ub Rel Artefacto</label>
                                    <input type="text" class="form-control" name="ubicacion" #ubicacion="ngModel"
                                        [(ngModel)]="metalico.ubicacion">
                                </div>
                                <div class="col-md-3">
                                    <label for="foto">Fotografia</label>
                                    <select class="form-select" name="foto" #foto="ngModel" [(ngModel)]="metalico.foto">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="num_foto">Num Foto</label>
                                    <input type="number" class="form-control" name="num_foto" #num_foto="ngModel"
                                        [(ngModel)]="metalico.num_foto">
                                </div>
                                <div class="col-md-3">
                                    <label for="calidad_foto">Calidad</label>
                                    <select class="form-select" name="calidad_foto" #calidad_foto="ngModel"
                                        [(ngModel)]="metalico.calidad_foto">
                                        <option selected>Seleccione...</option>
                                        <option value="Buena">Buena</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Mala">Mala</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="estado_foto">Estado Foto</label>
                                    <select class="form-select" name="estado_foto" #estado_foto="ngModel"
                                        [(ngModel)]="metalico.estado_foto">
                                        <option selected>Seleccione...</option>
                                        <option value="Buena">Buena</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Mala">Mala</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="plano">Planimetría</label>
                                    <select class="form-select" name="plano" #plano="ngModel" [(ngModel)]="metalico.plano">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="num_lamina">Num Lamina</label>
                                    <input type="number" class="form-control" name="num_lamina" #num_lamina="ngModel"
                                        [(ngModel)]="metalico.num_lamina">
                                </div>
                                <div class="col-md-3">
                                    <label for="calidad_lamina">Calidad Lámina</label>
                                    <select class="form-select" name="calidad_lamina" #calidad_lamina="ngModel"
                                        [(ngModel)]="metalico.calidad_lamina">
                                        <option selected>Seleccione...</option>
                                        <option value="Buena">Buena</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Mala">Mala</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="estado_Lamina">Estado Lamina</label>
                                    <select class="form-select" name="estado_Lamina" #estado_Lamina="ngModel"
                                        [(ngModel)]="metalico.estado_Lamina">
                                        <option selected>Seleccione...</option>
                                        <option value="Buena">Buena</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Mala">Mala</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="diagnostico_contexto">Diagnóstico Contexto</label>
                                    <select class="form-select" name="diagnostico_contexto" #diagnostico_contexto="ngModel"
                                        [(ngModel)]="metalico.diagnostico_contexto">
                                        <option selected>Seleccione...</option>
                                        <option value="Definido">Definido</option>
                                        <option value="Indefinido">Indefinido</option>
                                        <option value="Divago">Divago</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="fechamiento">Fechamiento</label>
                                    <input type="text" class="form-control" name="fechamiento" #fechamiento="ngModel"
                                        [(ngModel)]="metalico.fechamiento">
                                </div>
    
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Descripción del Artefacto
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row g-3">
                                     <div class="col-md-4">
                                        <label for="materia_prima">Materia Prima</label>
                                        <select class="form-select" name="materia_prima" #materia_prima="ngModel"
                                            [(ngModel)]="metalico.materia_prima">
                                            <option selected>Seleccione...</option>
                                            <option value="Oro">Oro</option>
                                            <option value="Aleación oro-cobre">Aleación Oro-Cobre</option>
                                            <option value="Cobre">Cobre</option>    
                                        </select>
                                    </div> 
                                     <div class="col-md-4">
                                        <label for="proceso_manufactura">Proceso de Manufactura</label>
                                        <select class="form-select" name="proceso_manufactura" #tipo_pieza="ngModel"
                                            [(ngModel)]="metalico.proceso_manufactura">
                                            <option selected>Seleccione...</option>
                                            <option value="Fundido con nucleo">Fundido con nucleo</option>
                                            <option value="Fundido sin nucleo">Fundido sin nucleo</option>
                                            <option value="Martillado">Martillado</option>    
                                        </select>
                                    </div> 
                                    <div class="col-md-4">
                                        <label for="grupo_morfologico">Grupo Morfológico</label>
                                        <select class="form-select" name="grupo_morfologico" #materia_prima="ngModel"
                                            [(ngModel)]="metalico.grupo_morfologico">
                                            <option selected>Seleccione...</option>
                                            <option value="Ave con alas desplegadas">Ave con alas desplegadas</option>
                                            <option value="Figura Antropomorfa">Figura Antropomorfa</option>
                                            <option value="Batracio">Batracio</option>
                                            <option value="Antropozoomorfo">Antropozoomorfo</option>
                                            <option value="Cascabel">Cascabel</option>
                                            <option value="Cuenta">Cuenta</option>
                                            <option value="Disco">Disco</option>
                                            <option value="Lámina">Lámina</option>
                                            <option value="Placa con espiral doble">Placa con espiral doble</option>
                                            
                                        </select>
                                    </div>
                                </div>

                                    <div class="row g-3">
                                        <div class="col-md-8">
                                            <label for="otro_morfologico">Otro Grupo Morfológico</label>
                                            <input type="text" class="form-control" name="otro_morfologico" #otro_morfologico="ngModel"
                                                [(ngModel)]="metalico.otro_morfologico">
                                        </div>
                                    </div>
                                
                                  
        
                                <div class="row g-3">
                                    <label class="fw-bold">Decoración</label>
                                    <label class="fw-bold">Diseño No Figurativo </label>

                                    <div class="col-md-4">
                                        <label for="dis_nofig">Seleccione</label>
                                        <select class="form-select" name="dis_nofig" #dis_nofig="ngModel"
                                            [(ngModel)]="metalico.dis_nofig">
                                            <option selected>Seleccione...</option>
                                            <option value="Líneas">Líneas</option>
                                            <option value="Greca">Greca</option>
                                            <option value="Elemento en secuencia">Elemento en secuencia</option>    
                                        </select>
                                    </div> 

                                    <div class="col-md-8">
                                        <label for="dis_nofig_otro">Otro Diseño No Figurativo</label>
                                        <input type="text" class="form-control" name="dis_nofig_otro" #dis_nofig_otro="ngModel"
                                            [(ngModel)]="metalico.dis_nofig_otro">
                                    </div>
        
                                   
        
                                    <div class="row g-3">
                                        <label for="figuras" class="fw-bold">Diseños Figurativos Zoomorfos</label>
                                        <div class="col-md-12">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="cab_zoo" #cab_zoo [(ngModel)]="metalico.cab_zoo"
                                                (ngModelChange)="metalico.cab_zoo=$event?'X':''">
                                                <label class="form-check-label" for="cab_zoo">Cabeza</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="suario_zoo" #saurio_zoo [(ngModel)]="metalico.suario_zoo"
                                                (ngModelChange)="metalico.suario_zoo=$event?'X':''">
                                                <label class="form-check-label" for="suario_zoo">Saurio</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="felino_zoo" #felino_zoo [(ngModel)]="metalico.felino_zoo"
                                                (ngModelChange)="metalico.felino_zoo=$event?'X':''">
                                                <label class="form-check-label" for="felino_zoo">Felino</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="batracio_zoo" #batracio_zoo [(ngModel)]="metalico.batracio_zoo"
                                                (ngModelChange)="metalico.batracio_zoo=$event?'X':''">
                                                <label class="form-check-label" for="batracio_zoo">Batracio</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="ave_zoo" #ave_zoo [(ngModel)]="metalico.ave_zoo"
                                                (ngModelChange)="metalico.ave_zoo=$event?'X':''">
                                                <label class="form-check-label" for="ave_zoo">Ave</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="primate_zoo" #primate_zoo [(ngModel)]="metalico.primate_zoo"
                                                (ngModelChange)="metalico.primate_zoo=$event?'X':''">
                                                <label class="form-check-label" for="primate_zoo">Primate</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="murcielago_zoo" #murcielago_zoo [(ngModel)]="metalico.murcielago_zoo"
                                                (ngModelChange)="metalico.murcielago_zoo=$event?'X':''">
                                                <label class="form-check-label" for="murcielago_zoo">Murcielago</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="mamifero_zoo" #mamifero_zoo [(ngModel)]="metalico.mamifero_zoo"
                                                (ngModelChange)="metalico.mamifero_zoo=$event?'X':''">
                                                <label class="form-check-label" for="mamifero_zoo">Mamifero</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="turtle_zoo" #turtle_zoo [(ngModel)]="metalico.turtle_zoo"
                                                (ngModelChange)="metalico.turtle_zoo=$event?'X':''">
                                                <label class="form-check-label" for="turtle_zoo">Tortuga</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="reptil_zoo" #reptil_zoo [(ngModel)]="metalico.reptil_zoo"
                                                (ngModelChange)="metalico.reptil_zoo=$event?'X':''">
                                                <label class="form-check-label" for="reptil_zoo">Reptil</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="pez_zoo" #pez_zoo [(ngModel)]="metalico.pez_zoo"
                                                (ngModelChange)="metalico.pez_zoo=$event?'X':''">
                                                <label class="form-check-label" for="pez_zoo">Pez</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="armadillo_zoo" #armadillo_zoo [(ngModel)]="metalico.armadillo_zoo"
                                                (ngModelChange)="metalico.armadillo_zoo=$event?'X':''">
                                                <label class="form-check-label" for="armadillo_zoo">Armadillo</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="insecto_zoo" #insecto_zoo [(ngModel)]="metalico.insecto_zoo"
                                                (ngModelChange)="metalico.insecto_zoo=$event?'X':''">
                                                <label class="form-check-label" for="insecto_zoo">Insecto</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="ciervo_zoo" #ciervo_zoo [(ngModel)]="metalico.ciervo_zoo"
                                                (ngModelChange)="metalico.ciervo_zoo=$event?'X':''">
                                                <label class="form-check-label" for="ciervo_zoo">Ciervo</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="canino_zoo" #canino_zoo [(ngModel)]="metalico.canino_zoo"
                                                (ngModelChange)="metalico.canino_zoo=$event?'X':''">
                                                <label class="form-check-label" for="canino_zoo">Canino</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="ind_zoo" #ind_zoo [(ngModel)]="metalico.ind_zoo"
                                                (ngModelChange)="metalico.ind_zoo=$event?'X':''">
                                                <label class="form-check-label" for="ind_zoo">Indeterminado</label>
                                            </div>
        
                                        </div>
        
                                        <div class="col-md-6">
                                            <label for="tax_zoo">Taxonomia Explicita (referencia)</label>
                                            <input type="text" class="form-control" name="tax_zoo" #tax_zoo="ngModel"
                                                [(ngModel)]="metalico.tax_zoo">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inv_zoo">Investigador que realizó la investigación</label>
                                            <input type="text" class="form-control" name="inv_zoo"
                                                #inv_zoo="ngModel" [(ngModel)]="metalico.inv_zoo">
                                        </div>
        
        
                                    </div>
        
                                    <div class="row g-3">
                                        <label for="figuras" class="fw-bold">Diseños Figurativos Antropomorfos</label>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="cab_antro" #cab_antro [(ngModel)]="metalico.cab_antro"
                                                    (ngModelChange)="metalico.cab_antro=$event?'X':''">
                                                    <label class="form-check-label" for="cab_antro">Cabeza</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="cara_antro" #cara_antro [(ngModel)]="metalico.cara_antro"
                                                    (ngModelChange)="metalico.cara_antro=$event?'X':''">
                                                    <label class="form-check-label" for="cara_antro">Cara</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="cab_tocantro" #cab_tocantro [(ngModel)]="metalico.cab_tocantro"
                                                    (ngModelChange)="metalico.cab_tocantro=$event?'X':''">
                                                    <label class="form-check-label" for="cab_tocantro">Con tocado</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="maratoc_antro" #maratoc_antro [(ngModel)]="metalico.maratoc_antro"
                                                    (ngModelChange)="metalico.maratoc_antro=$event?'X':''">
                                                    <label class="form-check-label" for="maratoc_antro">Maraquero con tocado</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="marorej_antro" #marorej_antro [(ngModel)]="metalico.marorej_antro"
                                                    (ngModelChange)="metalico.marorej_antro=$event?'X':''">
                                                    <label class="form-check-label" for="marorej_antro">Maraquero con orejera</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="cabbic_antro" #cabbic_antro [(ngModel)]="metalico.cabbic_antro"
                                                    (ngModelChange)="metalico.cabbic_antro=$event?'X':''">
                                                    <label class="form-check-label" for="cabbic_antro">Cabeza bicéfala</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="doble_antro" #doble_antro [(ngModel)]="metalico.doble_antro"
                                                    (ngModelChange)="metalico.doble_antro=$event?'X':''">
                                                    <label class="form-check-label" for="doble_antro">Doble</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="multiple_antro" #multiple_antro [(ngModel)]="metalico.multiple_antro"
                                                    (ngModelChange)="metalico.multiple_antro=$event?'X':''">
                                                    <label class="form-check-label" for="multiple_antro">Multiple</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="antro_antro" #antro_antro [(ngModel)]="metalico.antro_antro"
                                                    (ngModelChange)="metalico.antro_antro=$event?'X':''">
                                                    <label class="form-check-label" for="antro_antro">Antropozoomorfo</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="escena_antro" #escena_antro [(ngModel)]="metalico.escena_antro"
                                                    (ngModelChange)="metalico.escena_antro=$event?'X':''">
                                                    <label class="form-check-label" for="escena_antro">Escena</label>
                                                </div>

                                    
                                            </div>

                                    </div>
                                    <div class="row g-3">
                                            <div class="col-md-3">
                                                <label for="genero_antro">Género</label>
                                                <select class="form-select" name="genero_antro" #genero_antro="ngModel"
                                                    [(ngModel)]="metalico.genero_antro">
                                                    <option selected>Seleccione...</option>
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Femenino">Femenino</option>
                                                    <option value="No determinado">No determinado</option>
                                                </select>
                                            </div>
                                    </div>
                                     
                                   
        
                                    <div class="row g-3">
                                        <label for="figuras" class="fw-bold">Diseños Figurativos Indeterminado</label>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="cab_ind" #cab_ind [(ngModel)]="metalico.cab_ind"
                                                    (ngModelChange)="metalico.cab_ind=$event?'X':''">
                                                    <label class="form-check-label" for="cab_ind">Cabeza</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="cara_ind" #cara_ind [(ngModel)]="metalico.cara_ind"
                                                    (ngModelChange)="metalico.cara_ind=$event?'X':''">
                                                    <label class="form-check-label" for="cara_ind">Cara</label>
                                                </div>
                                            </div> 
                                                <div class="col-md-4">
                                                    <label for="otro_ind">Otra</label>
                                                    <input type="text" class="form-control" name="otro_ind" #otro_ind="ngModel"
                                                        [(ngModel)]="metalico.otro_ind">
                                                </div>                         
                                    </div>
        
                                </div>
        
        
                            </div>
                        </div>
        
        
                    </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Asociación Espacio-Temporal
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row g-3">
                                   
        
                                    <div class="col-md-12">
                                        <label for="tipologia">Tipología</label>
                                        <input type="text" class="form-control" name="tipologia"
                                            #tipologia="ngModel" [(ngModel)]="metalico.tipologia">
                                    </div>
        
                                </div>
        
                                <div class="row g-3">
                                    
        
                                    <div class="col-md-12">
                                        <label for="referencias_funcional">Refencias Bibliográfica</label>
                                        <input type="text" class="form-control" name="referencias_funcional" #referencias_funcional="ngModel"
                                            [(ngModel)]="metalico.referencias_funcional">
                                    </div>
        
                                    
        
                                </div>
        
                                <div class="row g-3">

                                    <div class="col-md-4">
                                        <label for="periodo_funcional">Periodo</label>
                                        <input type="text" class="form-control" name="periodo_funcional"
                                            #periodo_funcional="ngModel" [(ngModel)]="metalico.periodo_funcional">
                                    </div>

                                    <div class="col-md-4">
                                        <label for="fase_funcional">Fase</label>
                                        <input type="text" class="form-control" name="fase_funcional" #fase_funcional="ngModel"
                                            [(ngModel)]="metalico.fase_funcional">
                                    </div>
        
                                    <div class="col-md-4">
                                        <label for="temporalidad_funcional">Temporalidad Estimada</label>
                                        <input type="text" class="form-control" name="temporalidad_funcional"
                                            #temporalidad_funcional="ngModel" [(ngModel)]="metalico.temporalidad_funcional">
                                    </div>
        
                                    <div class="col-md-8">
                                        <label for="procedencia_metalicoa">Procedencia (Región/Subregión)</label>
                                        <input type="text" class="form-control" name="procedencia_funcional"
                                            #procedencia_funcional="ngModel" [(ngModel)]="metalico.procedencia_funcional">
                                    </div>
        
                                </div>
        
                            </div>
                        </div>
                    </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Estado de Conservación
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label for="estado_conservacion">Estado de Conservación</label>
                                    <select class="form-select" name="estado_conservacion" #estado_conservacion="ngModel"
                                        [(ngModel)]="metalico.estado_conservacion">
                                        <option selected>Seleccione...</option>
                                        <option value="Optimo">Óptimo</option>
                                        <option value="Bueno">Bueno</option>
                                        <option value="Regular">Regular</option>
                                        <option value="Malo">Malo</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="potencial">Potencial de Exhibición</label>
                                    <select class="form-select" name="potencial" #potencial="ngModel"
                                        [(ngModel)]="metalico.potencial">
                                        <option selected>Seleccione...</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
    
                                <div class="col-md-4">
                                    <label for="potencial_exp">Explique</label>
                                    <input type="text" class="form-control" name="potencial_exp" #potencial_exp="ngModel"
                                        [(ngModel)]="metalico.potencial_exp">
                                </div>
                            </div>
    
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label for="largo">Vitrina Largo(cm)</label>
                                    <input type="text" class="form-control" name="largo" #largo="ngModel"
                                        [(ngModel)]="metalico.largo">
                                </div>
    
                                <div class="col-md-4">
                                    <label for="Ancho">Vitrina Ancho(cm)</label>
                                    <input type="text" class="form-control" name="ancho" #ancho="ngModel"
                                        [(ngModel)]="metalico.ancho">
                                </div>
    
                                <div class="col-md-4">
                                    <label for="alto">Vitrina Alto(cm)</label>
                                    <input type="text" class="form-control" name="alto" #alto="ngModel"
                                        [(ngModel)]="metalico.alto">
                                </div>
    
                            </div>
    
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label for="peso">Vitrina Peso(gr)</label>
                                    <input type="text" class="form-control" name="peso" #peso="ngModel"
                                        [(ngModel)]="metalico.peso">
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Investigador y Registro
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label for="nombre_invest">Nombre</label>
                                    <input type="text" class="form-control" name="nombre_invest" #nombre_invest="ngModel"
                                        [(ngModel)]="metalico.nombre_invest">
                                </div>
    
                                <div class="col-md-4">
                                    <label for="fecha_analisis">Fecha Análisis</label>
                                    <input type="date" class="form-control" name="fecha_analisis" #fecha_analisis="ngModel"
                                        [(ngModel)]="metalico.fecha_analisis">
                                </div>
    
                                <div class="col-md-4">
                                    <label for="fotos_num">Numeración de las fotos</label>
                                    <input type="text" class="form-control" name="fotos_num" #fotos_num="ngModel"
                                        [(ngModel)]="metalico.fotos_num">
                                </div>
    
                            </div>
    
    
                        </div>
                    </div>
                </div>
                </div>

                <div class="form-group">
                    <div class="image-thumb" *ngIf="is_edit">
                        
                            <img src="{{url + 'get-image/' + metalico.image}}" alt="{{metalico.title}}" *ngIf="metalico.image"/>
                            <img src="assets/images/default.png" alt="{{metalico.title}}" *ngIf="!metalico.image"/>
                    
                    </div>
                    
                    <angular-file-uploader
                        [config]="afuConfig"
                        (ApiResponse)="imageUpload($event)">
                    </angular-file-uploader>
                
                </div>

                <input type="submit" value="Guardar" class="btn btn-success"/>

        </form>


            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        
    </section>

    <div class="clearfix"></div>

</div>


