<app-header></app-header>


<div class="center">
    <section id="content.contexto">
        <h1 class="subheader-sitio">Agregar Monumentos</h1>
        
        <form class="mid-form" #contextoForm="ngForm" (ngSubmit)="OnSubmit()">

            <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Datos Generales
                        </button>
                    </h2>

                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <!-- <form> -->
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <label for="nom_mon">Nombre Monumento</label>
                                    <input type="text" class="form-control" name="nom_mon" #nom_mon="ngModel"
                                        [(ngModel)]="sitio.nombre_sitio">
                                </div>
                                <div class="col-md-3">
                                    <label for="clave_sitio">Clave</label>
                                    <input type="text" class="form-control" name="clave_sitio"
                                        #clave_sitio="ngModel" [(ngModel)]="sitio.clave_sitio">
                                </div>
                                <div class="col-md-3">
                                    <label for="clave_antigua">Clave Antigua</label>
                                    <input type="text" class="form-control" name="clave_antigua" #clave_antigua="ngModel"
                                        [(ngModel)]="sitio.clave_antigua">
                                </div>
                             
                                <div class="col-md-3">
                                    <label for="clave_antigua">Clave UCR</label>
                                    <input type="text" class="form-control" name="ucr" #ucr="ngModel"
                                        [(ngModel)]="sitio.ucr">
                                    
                                </div>
                                
                            </div>
                            <br>
                            <h4>Tipo de Proyecto</h4>
                            <hr>
                            <div class="row g-3">
                               
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="estudio_impacto_ambiental" #estudio_impacto_ambiental [(ngModel)]="sitio.estudio_impacto_ambiental"
                                    (ngModelChange)="sitio.estudio_impacto_ambiental=$event? true:false">
                                    <label class="form-check-label" for="estudio_impacto_ambiental">Impacto Ambiental</label>
                                </div>
                                <div class="col-md-3">
                                    
                                    <input class="form-check-input" type="checkbox" name="monitoreo_mov_tierras" #monitoreo_mov_tierras [(ngModel)]="sitio.monitoreo_mov_tierras"
                                    (ngModelChange)="sitio.monitoreo_mov_tierras=$event? true:false">
                                    <label class="form-check-label" for="monitoreo_mov_tierras">Movimiento Tierras</label>
                                </div>
                                <div class="col-md-3">
                                   
                                    <input class="form-check-input" type="checkbox" name="evaluacion" #evaluacion [(ngModel)]="sitio.evaluacion"
                                    (ngModelChange)="sitio.evaluacion=$event? true:false">
                                <label class="form-check-label" for="evaluacion">Evaluación</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="peritaje" #peritaje [(ngModel)]="sitio.peritaje"
                                    (ngModelChange)="sitio.peritaje=$event? true:false">
                                    <label class="form-check-label" for="peritaje">Peritaje</label>
                                </div>
                            </div>
                            <div class = "row g-3">
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="excavacion_aislada" #peritaje [(ngModel)]="sitio.excavacion_aislada"
                                    (ngModelChange)="sitio.excavacion_aislada=$event? true:false">
                                    <label class="form-check-label" for="excavacion_aislada">Excavación Aislada</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="rescate" #peritaje [(ngModel)]="sitio.rescate"
                                    (ngModelChange)="sitio.rescate=$event? true:false">
                                    <label class="form-check-label" for="rescate">Rescate</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="inspeccion" #peritaje [(ngModel)]="sitio.inspeccion"
                                    (ngModelChange)="sitio.inspeccion=$event? true:false">
                                    <label class="form-check-label" for="inspeccion">Inspección</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="trabajo_graduacion" #peritaje [(ngModel)]="sitio.trabajo_graduacion"
                                    (ngModelChange)="sitio.trabajo_graduacion=$event? true:false">
                                    <label class="form-check-label" for="trabajo_graduacion">Trabajo Graduación</label>
                                </div>
                            </div>

                            <div class = "row g-3">
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="regional" #peritaje [(ngModel)]="sitio.regional"
                                    (ngModelChange)="sitio.regional=$event? true:false">
                                    <label class="form-check-label" for="regional">Inv. Regional</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="subregional" #peritaje [(ngModel)]="sitio.subregional"
                                    (ngModelChange)="sitio.subregional=$event? true:false">
                                    <label class="form-check-label" for="subregional">Inv. Subregional</label>
                                </div>
                            </div>

                            <br>
                            <h4>Tipo de Monumento</h4>
                            <hr>
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="abrigo_cueva_caverna" #peritaje [(ngModel)]="sitio.abrigo_cueva_caverna"
                                    (ngModelChange)="sitio.abrigo_cueva_caverna=$event? true:false">
                                    <label class="form-check-label" for="abrigo_cueva_caverna">Abrigo, Cueva o Caverna</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="arquitectonico" #peritaje [(ngModel)]="sitio.arquitectonico"
                                    (ngModelChange)="sitio.arquitectonico=$event? true:false">
                                    <label class="form-check-label" for="arquitectonico">Arquitectónico</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="basurero" #peritaje [(ngModel)]="sitio.basurero"
                                    (ngModelChange)="sitio.basurero=$event? true:false">
                                    <label class="form-check-label" for="basurero">Basurero</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="camino" #peritaje [(ngModel)]="sitio.camino"
                                    (ngModelChange)="sitio.camino=$event? true:false">
                                    <label class="form-check-label" for="camino">Camino</label>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="conchero" #peritaje [(ngModel)]="sitio.conchero"
                                    (ngModelChange)="sitio.conchero=$event? true:false">
                                    <label class="form-check-label" for="conchero">Conchero</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="funerario" #peritaje [(ngModel)]="sitio.funerario"
                                    (ngModelChange)="sitio.funerario=$event? true:false">
                                    <label class="form-check-label" for="funerario">Funerario</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="habitacion" #peritaje [(ngModel)]="sitio.habitacion"
                                    (ngModelChange)="sitio.habitacion=$event? true:false">
                                    <label class="form-check-label" for="habitacion">Habitacion</label>
                                </div>

                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="materiales_dispersos" #peritaje [(ngModel)]="sitio.materiales_dispersos"
                                    (ngModelChange)="sitio.materiales_dispersos=$event? true:false">
                                    <label class="form-check-label" for="materiales_dispersos">Materiales Dispersos</label>
                                </div>
                            </div>

                            <div class="row g-3">
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="patroglifo" #peritaje [(ngModel)]="sitio.petroglifo"
                                    (ngModelChange)="sitio.petroglifo=$event? true:false">
                                    <label class="form-check-label" for="petroglifo">Petroglifo</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="salina" #peritaje [(ngModel)]="sitio.salina"
                                    (ngModelChange)="sitio.salina=$event? true:false">
                                    <label class="form-check-label" for="salina">Salina</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="taller" #peritaje [(ngModel)]="sitio.taller"
                                    (ngModelChange)="sitio.taller=$event? true:false">
                                    <label class="form-check-label" for="taller">Taller</label>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Registro
                        </button>
                    </h2>

                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <!-- <form> -->
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="registrador">Registrador</label>
                                        <input type="text" class="form-control" name="registrador" #registrador="ngModel"
                                            [(ngModel)]="sitio.registrador">
                                    </div>
                                </div>
                                <br>
                            <h4>Institución</h4>
                            <hr>

                            <div class="row g-3">
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="consultoria" #consultoria [(ngModel)]="sitio.consultoria"
                                    (ngModelChange)="sitio.consultoria=$event? true:false">
                                    <label class="form-check-label" for="consultoria">Consultoría</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-check-input" type="checkbox" name="fundacion" #fundacion [(ngModel)]="sitio.fundacion"
                                    (ngModelChange)="sitio.fundacion=$event? true:false">
                                    <label class="form-check-label" for="fundacion">Anastacio Alfaro</label>
                                </div>
                            
                            <div class="col-md-3">
                                <input class="form-check-input" type="checkbox" name="ice" #ice [(ngModel)]="sitio.ice"
                                (ngModelChange)="sitio.ice=$event? true:false">
                                <label class="form-check-label" for="ice">ICE</label>
                            </div>
                            <div class="col-md-3">
                                <input class="form-check-input" type="checkbox" name="literatura" #literatura [(ngModel)]="sitio.literatura"
                                (ngModelChange)="sitio.literatura=$event? true:false">
                                <label class="form-check-label" for="literatura">Literatura</label>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-3">
                                <input class="form-check-input" type="checkbox" name="mncr" #mncr [(ngModel)]="sitio.mncr"
                                (ngModelChange)="sitio.mncr=$event? true:false">
                                <label class="form-check-label" for="mncr">MNCR</label>
                            </div>
                            <div class="col-md-3">
                                <input class="form-check-input" type="checkbox" name="parques_nacionales" #parques_nacionales [(ngModel)]="sitio.parques_nacionales"
                                (ngModelChange)="sitio.parques_nacionales=$event? true:false">
                                <label class="form-check-label" for="parques_nacionales">Parques Nacionales</label>
                            </div>
                            <div class="col-md-3">
                                <input class="form-check-input" type="checkbox" name="ucr" #ucr [(ngModel)]="sitio.ucr"
                                (ngModelChange)="sitio.ucr=$event? true:false">
                                <label class="form-check-label" for="ucr">UCR</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="hallazgo">Hallazgo</label>
                                <input type="text" class="form-control" name="hallazgo" #hallazgo="ngModel"
                                    [(ngModel)]="sitio.hallazgo">
                            </div>
                            <div class="col-md-12">
                                <label for="fecha_registro">Fecha Registro</label>
                                <input type="text" class="form-control" name="fecha_registro" #fecha_registro="ngModel"
                                    [(ngModel)]="sitio.fecha_registro">
                            </div>
                        </div>
                            <!-- </form> -->
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Localización
                        </button>
                    </h2>

                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <!-- <form> -->
                          
                                <div class="row g-3">
                                    <div class="col-md-3">
                                        <label for="provincia">Provincia</label>
                                        <input type="text" class="form-control" name="provincia" #provincia="ngModel"
                                            [(ngModel)]="sitio.provincia">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="canton">Cantón</label>
                                        <input type="text" class="form-control" name="canton" #canton="ngModel"
                                            [(ngModel)]="sitio.canton">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="distrito">Distrito</label>
                                        <input type="text" class="form-control" name="distrito" #distrito="ngModel"
                                            [(ngModel)]="sitio.distrito">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="hoja_cartografica">Hoja Cartográfica</label>
                                        <input type="text" class="form-control" name="hoja_cartografica" #hoja_cartografica="ngModel"
                                            [(ngModel)]="sitio.hoja_cartografica">
                                    </div>
                                </div>
                            
                            <!-- </form> -->
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Temporalidad
                        </button>
                    </h2>

                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <!-- <form> -->
                          
                            
                            <!-- </form> -->
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Trabajo Campo
                        </button>
                    </h2>

                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <!-- <form> -->
                          
                            
                            <!-- </form> -->
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Generalidades
                        </button>
                    </h2>

                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <!-- <form> -->
                          
                            
                            <!-- </form> -->
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                            Documentación
                        </button>
                    </h2>

                    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <!-- <form> -->
                          
                            
                            <!-- </form> -->
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                            Material Documental
                        </button>
                    </h2>

                    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <!-- <form> -->
                          
                            
                            <!-- </form> -->
                        </div>

                    </div>
                </div>

            </div>

        

                <div class="form-group">
                    <div class="image-thumb" *ngIf="is_edit">
                        
                            <img src="{{url + 'get-image/' + sitio.image}}" alt="{{sitio.nombre_sitio}}" *ngIf="sitio.image"/>
                            <img src="assets/images/default.png" alt="{{sitio.nombre_sitio}}" *ngIf="!sitio.image"/>
                    
                    </div>
                    
                    <angular-file-uploader
                        [config]="afuConfig"
                        (ApiResponse)="imageUpload($event)">
                    </angular-file-uploader>
                
                </div>

                <input type="submit" value="Guardar" class="btn btn-success"/>

        </form>


            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        
    </section>

    <div class="clearfix"></div>

</div>


