<app-header></app-header>
<!-- <a [routerLink]="['/pag-ori']" data-toggle="tooltip" data-placement="top" title="Regresar" class = "btn btn-outline-warning">
  <mat-icon>home</mat-icon>    
</a>  -->

<div class="d-flex align-items-center mb-3">
  <a [routerLink]="['/pag-ori']" matTooltip="Regresar al listado" class="btn btn-outline-warning me-2">
    <mat-icon>arrow_back</mat-icon> Volver
  </a>
</div>

<div class="mat-elevation-z8 rounded shadow-sm">
  <mat-table [dataSource]="listData" matSort class="custom-table">

    <!-- ID oculto -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef style="display: none">ID</mat-header-cell>
      <mat-cell *matCellDef="let element" style="display: none">{{element._id}}</mat-cell>
    </ng-container>

    <!-- Columnas -->
    <ng-container matColumnDef="nombre_sitio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Sitio</mat-header-cell>
      <mat-cell *matCellDef="let element"><strong>{{element.nombre_sitio}}</strong></mat-cell>
    </ng-container>

    <ng-container matColumnDef="clave_sitio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Clave</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.clave_sitio}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="provincia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.provincia}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="canton">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cantón</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.canton}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="distrito">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Distrito</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.distrito}}</mat-cell>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" matTooltip="Ver detalles del sitio" (click)="openDialog(row._id)">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Fila de datos -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-hover"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>


